#about ul li.question {
  background: rgba(255,255,255,.8);
  border-bottom: 1px solid #fff;
}

.question-link .collapsed:before {content: "\25BE  ";}
.question-link .expanded:before {content: "\25B8  ";}

#about .question:hover {background: rgba(255,255,255,.9);}
#about .question-link {display: block; padding: 2em .5em;}
#about ul ul li p {display: block; margin: 0 1em 1em;}
#about form {margin: 0 1em;}
#about label,
#about input,
#about button {display: block; margin-bottom: 1em;}
#about input,
#about textarea,
#about button {background: #fff; border: 1px solid #99f; border-radius: 5px;}
#about button {color: #55f;}
#about button:focus,
#about button:hover,
#about button:active {color: #333; border: 1px solid #333;}
#about input,
#about textarea {padding: .1em;}
#about label,
#about input {width: 100%; text-align: left;}
#about textarea {width: 100%; height: 8em;}
