#pageSubMenu li.Astronomen {
	background: url("/img/title_astronomers.jpg") center / cover no-repeat;
}
#pageSubMenu li.Sonnensystem {
	background: url("/img/title_solarsystem.jpg") center / cover no-repeat;
}
#pageSubMenu li.Sternbilder {
	background: url("/img/title_constellations.jpg") center / cover no-repeat;
}
#pageSubMenu li.Sterne {
	background: url("/img/title_stars.jpg") center / cover no-repeat;
}
#pageSubMenu li.Weltraumteleskope {
	background: url("/img/title_spacetelescopes.jpg") center / cover no-repeat;
}
