/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */

/*	Global elements --------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; vertical-align: baseline;
	background: transparent; border: 0;
	}
body, html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
	color: #222; font-family: sans-serif; font-weight: 100;
	}

h1 {font-weight: 700;}
h2, h3, h4, h5, h6 {font-weight: normal;}

p {padding-top: 10px;}

ul {list-style-type: none;}

a {font-weight: 500; text-decoration: none;}
a, a:link, a:visited {color: #55f;}
a:focus, a:hover, a:active {color: #333;}

/*>Global Classes ----------------------------------------------------------- */

.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}
.justify {text-align: justify;}
.small {font-size: .7em;}
.visible {display: block;}
.hidden {display: none;}

/*>Borders ------------------------------------------------------------------ */

#branding, nav,
#featured, #pageSubMenu a,
#filter, #letterLinks,
#dataArea, #notes,
#footerContainer {border-bottom: 1px solid #fff;}

/*>Backgrounds -------------------------------------------------------------- */

nav, #footerContainer {background: #fafafa;}

#featured, #filter, #letterLinks, #notes {background: #f0f0f0;}

#dataArea, #pageSubMenu a {background: rgba(255,255,255,.8);}

#pageSubMenu a:focus,
#pageSubMenu a:hover,
#pageSubMenu a:active {background: rgba(255,255,255,.9);}

#footerFoot {background: #dadada;}

/* Pure CSS ------------------------------------------------------------------*/

.pure-menu-active>.pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
	background-color: #e0e0e0;
}

/*	Structure --------------------------------------------------------------- */

#wrapper {
	margin: 0 auto;
	background: #114;
}
#wrapper {
	background: url(/img/bgWrapper2_sm.jpg) center top / cover no-repeat fixed;
  -webkit-background-size: cover; -moz-background-size: cover;
  -o-background-size: cover; background-size: cover;
	}

@media only screen and (min-width: 48em) {
  #wrapper {
		background: url(/img/bgWrapper2_md.jpg) center top / cover no-repeat fixed;
		-webkit-background-size: cover; -moz-background-size: cover;
	  -o-background-size: cover; background-size: cover;
  }
}
@media only screen and (min-width: 64em) {
  #wrapper {
		background: url(/img/bgWrapper2_lg.jpg) center top / cover no-repeat fixed;
		-webkit-background-size: cover; -moz-background-size: cover;
	  -o-background-size: cover; background-size: cover;
  }
}

#featured, #filter, #letterLinks, #pageSubMenuContainer,
#dataArea, #notes,
#footerContainer, #footerFoot {margin: 0 auto; max-width: 1000px;}

/*		Branding -------------------------------------------------------------- */

#branding {
	height: 40px;
	background-image: linear-gradient(to right, #fff 180px, rgba(255,255,255,.2));
	}
#branding img {margin: 5px; height: 30px;}

/*		Header ---------------------------------------------------------------- */

header {margin: 0 auto;}

/*			Nav ----------------------------------------------------------------- */

nav {margin: 0 auto;}
nav ul ul {border-top: 1px solid #fff;}
nav ul ul li {text-align: left; border-bottom: 1px solid #e0e0e0;}
nav ul ul li:last-child {border: 0;}

/*			social menu --------------------------------------------------------- */

/*#social {float: right;}*/
/*#social ul {margin-top: 6px; padding-bottom: 0; float: right;}*/
/*#social ul li {display: block; float: left; padding: 0 0 8px 14px;}*/
/*#social ul li:last-child {padding-right: 8px;}*/
/*#social ul li a {*/
/*	display: block; width: 40px; height: 40px;*/
/*	color: #fff; text-decoration: none; line-height: 40px;*/
/*	font-family: FontAwesome; font-size: 26px;*/
/*	background: #d0d0d0; border-radius: 20px; box-shadow: 3px 3px 5px #ddd;*/
/*	transition: all 50ms linear;*/
/*}*/
/*#social ul li a::before {*/
/*	text-shadow: 1px 1px 1px #999;*/
/*	-webkit-font-smoothing: antialiased;*/
/*	-moz-osx-font-smoothing: grayscale;*/
/*}*/
/*#social ul li.facebook a::before {content: "\f09a";}*/
/*#social ul li.googleplus a::before {content: "\f0d5";}*/
/*#social ul li.twitter a::before {content: "\f099";}*/
/*#social ul li.github a::before {content: "\f09b";}*/
/*#social ul li.info a::before {content: "\f129";}*/
/*#social ul li.search a::before {content: "\f002";}*/
/*#social ul li.facebook a:hover, #social ul li.facebook a:active,*/
/*#social ul li.facebook a:focus {background-color: #4273c8;}*/
/*#social ul li.googleplus a:hover, #social ul li.googleplus a:active,*/
/*#social ul li.googleplus a:focus {background-color: #d34836;}*/
/*#social ul li.twitter a:hover, #social ul li.twitter a:active,*/
/*#social ul li.twitter a:focus {background-color: #32bbf5;}*/
/*#social ul li.github a:hover, #social ul li.github a:active,*/
/*#social ul li.github a:focus {background-color: #4078c0;}*/
/*#social ul li.info a:hover,#social ul li.info a:active,*/
/*#social ul li.info a:focus {background-color: #0c0;}*/
/*#social ul li.search a:hover, #social ul li.search a:active,*/
/*#social ul li.search a:focus {background-color: #666;}*/

/*#searchDiv {*/
/*	position: relative; top: 25px; left: 685px; width: 273px; height: 48px;*/
/*	background-color: rgba(128,128,128,.5);*/
/*	border: 1px solid #d0d0d0; border-radius: 0 0 0 6px;*/
/*}*/
/*#searchForm {position: absolute; top: 10px; left: 10px; }*/
/*#searchInput {*/
/*	float: left; padding: 3px 5px; width: 214px;*/
/*	font-size: 1em; line-height: 1.25em;*/
/*	background: #fff;*/
/*	border: 1px solid #d0d0d0; border-right: none; border-radius: 6px 0 0 6px;*/
/*}*/
/*#searchSubmit {*/
/*	width: 28px; height: 28px; font-family: FontAwesome; font-size: 16px; color: #55f;*/
/*	cursor: pointer; background: #fff;*/
/*	border: 1px solid #d0d0d0; border-left: none; border-radius: 0 6px 6px 0;*/
/*}*/
/*#searchInput, #searchSubmit {box-shadow: none;}*/
/*#searchSubmit:hover, #searchSubmit:active, #searchSubmit:focus {color: #333;}*/

/*#flags {width: 150px; height: 75px; float: right;}*/

/*		Main ------------------------------------------------------------------ */

main {}

/*			featured ------------------------------------------------------------ */

#featured {min-height: 6em; text-align: center;}
#featured h1 {padding: .5em 0 .1em; font-weight: normal;}
#featured h3 {padding: .1em 0;}

/*			todo ---------------------------------------------------------------- */

#todo {background: red;}

/*			pageSubMenu ------------------------------------------------------------ */

#pageSubMenu a {display: block; padding: 1em;	font-size: 1.5em;}

/*			filter -------------------------------------------------------------- */

#filter {padding: 5px 0; text-align: center;	font-size: .8em;}
#filter form {display: inline;}
#filter select {margin-left: 5px;}

/*			letterLinks --------------------------------------------------------- */

#letterLinks {line-height: 30px;}
#letterLinks a {font-size: .8em;}
#letterLinks a:focus, #letterLinks a:hover, #letterLinks a:active {
	font-size: 1em; letter-spacing: -.1em; transition: all 50ms linear;
}
.first-letter, .scrollUpArrow {
	max-width: 30%; margin: 5px 10px;
	font-size: 1.3em; font-weight: 500;
	}
.scrollUpArrow {float: right;}

/*			switch -------------------------------------------------------------- */
/*
#switch {float: left; font-size: .8em; font-weight: 500;}
#switch li {float: left; width: 480px;}
#switch a {
	display: block; float: left; width: 478px; height: 1.25em; padding-top: 4px;
	background-image: linear-gradient(#fff, #e1e1e1);
	border-width: 0 1px 1px 1px; border-style: solid; border-color: #d0d0d0;
}
#switch a:focus, #switch a:hover, #switch a:active {
	background-image: linear-gradient(#fff, #c0c0c0);
}
#tableSwitch {float: right;}
*/

/*		dataArea ------------------------------------------------------------- */

#dataArea {font-size: .8em;}

/*			notes --------------------------------------------------------------- */

#notes {clear: left; font-size: .8em;}
#notes p {padding: 10px;}
#notes ol {padding: 10px 20px;}
#upArrow {float: left; font-weight: bold;}

/*	Footer ------------------------------------------------------------------ */

#footerContainer {padding: 10px 0; font-size: .9em;}
.footerPart {
	min-height: 13em;
}
footer h3 {margin-bottom: 10px;}
footer ul {margin: 0; padding: 0;}
footer ul li a {padding: .25em; line-height: 1.5em;}
.shariff-button a.share_text {color: #fff;}
#footerFoot {font-size: .6em; line-height: 1.5em;}
