/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */

/*	Global elements --------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; vertical-align: baseline;
	background: transparent; border: 0;
}
html, body, #app {height: 100%;}
body, html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
	color: #222; font-family: sans-serif; font-weight: 100;
}

h1 {font-weight: 700;}
h2, h3, h4, h5, h6 {font-weight: normal;}

ul {list-style-type: none;}

a {font-weight: 500; text-decoration: none; cursor: pointer;}
a, a:link, a:visited {color: #55f;}
a:focus, a:hover, a:active {color: #333;}

/*>Global Classes ----------------------------------------------------------- */

.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}
.justify {text-align: justify;}
.small {font-size: .7em;}
.visible {display: block;}
.hidden {display: none;}

/*	Structure --------------------------------------------------------------- */

#wrapper {
	margin: 0 auto;
	background: #113;
  -webkit-background-size: auto 100%;
	-moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}
#wrapper {
	background: url(/img/bgWrapper8_sm.jpg) center / cover no-repeat fixed #113;
}

header, main, footer {margin: 0 auto; max-width: 1025px;}

/*		Branding -------------------------------------------------------------- */

#branding {
	position: fixed; top: 0; left: 0;
	height: 40px;
	background-image: linear-gradient(to right, #fff 50px, rgba(153,153,255,.2));
	border-bottom: 1px solid #fff;
}
#branding:hover {
	background: #fff;
}

img#CosmoWikiLogo {display: none;}
img#CosmoWikiIcon {display: block; margin: 5px; height: 30px;}

#search, #menuToggle {height: 40px;}

#searchForm {padding:0;}
#searchInput,
#searchSubmit {
	margin: 8px 0;
	line-height:20px; font-size: 16px;
	background:#fff; box-shadow:none;
	border:1px solid #99f; border-radius: 5px;
}
#searchInput {padding: 2px 5px;}
#searchSubmit {
	width:30px; padding: 2px; cursor:pointer;
	color:#99f; font-weight: bold;
}
#searchSubmit:hover,
#searchSubmit:active,
#searchSubmit:focus {color:#333;}

#menuToggle {height: 40px;}

#menuToggleButton {color: #000; background: #fff;}

/*		Header ---------------------------------------------------------------- */

header {margin: 40px auto 0;}

/*			Nav ----------------------------------------------------------------- */

nav {
	margin: 0 auto;
	background: #f8f8f8;
	border-bottom: 1px solid #ddd;}

.pure-menu-link:focus,
.pure-menu-link:hover,
.pure-menu-link:active {background: #fff;}
.pure-menu-children {background: transparent; border-top: 1px solid #ddd;}

nav ul ul li a {background: #f8f8f8; border-bottom: 1px solid #ddd;}
nav ul ul li:last-child a {border-bottom: none; border-radius: 0 0 5px 5px;}

/*		Main ------------------------------------------------------------------ */

main {border-bottom: 1em solid #eee;}

/*			featured ------------------------------------------------------------ */

#featured {
	min-height: 4.5em;
	background: rgba(255, 255, 255, .9);
	border-bottom: 1px solid #fff;
}

#featured h1 {padding: .2em 0 .1em; font-size: 1.75em; font-weight: normal;}
#featured h3 {padding: .1em 0;}

/*			todo ---------------------------------------------------------------- */

#todo {text-align: center; background: red;}

/*			controlArea -------------------------------------------------------- */

#controlArea {background: #eee;}

#controllers, #letterIndex {border-bottom: 1px solid #fff;}
#sort, #filter {
	display: inline-block;
	font-size: .9em; line-height: 2em;
	background: #eee;
}
#filter {float: right;}

#sortArea, #filterArea {display: none;}
#controlArea a {display: inline; margin: .2em;}

#sort:hover a.toggle-sort,
#filter:hover a.toggle-filter {display: none;}
#sort:hover #sortArea,
#filter:hover #filterArea {display: block;}

#controlArea label, #controlArea form {display: inline; margin: 0 .1em;}
#filterArea form {text-align: right;}
#sort select, #filter select {margin-left: .1em;}

#letterIndex li {display: inline-block; padding: .2em 0; margin-right: .2em;}
#letterIndex a {display: inline-block; margin: 0 .2em;}

/*#letterIndex a:hover {font-weight: bold;}*/
/*#letterIndex a:after {
	margin-left: .2em; content: attr(title); height: .2em;
  font-weight:bold; color:transparent; overflow:hidden; visibility:hidden;
}*/

/*			switch -------------------------------------------------------------- */
/*
#switch {float: left; font-size: .8em; font-weight: 500;}
#switch li {float: left; width: 480px;}
#switch a {
	display: block; float: left; width: 478px; height: 1.25em; padding-top: 4px;
	background-image: linear-gradient(#fff, #e1e1e1);
	border-width: 0 1px 1px 1px; border-style: solid; border-color: #d0d0d0;
}
#switch a:focus, #switch a:hover, #switch a:active {
	background-image: linear-gradient(#fff, #c0c0c0);
}
#tableSwitch {float: right;}
*/

/*		pageSubMenu ----------------------------------------------------------- */

#pageSubMenu a {
	display: block; padding: 1em;
	font-size: 1.5em;
	background: rgba(255,255,255,.8);
	border-bottom: 1px solid #fff;
}

/*		dataArea -------------------------------------------------------------- */

#dataArea {font-size: .8em;	background: rgba(255,255,255,.8);}

.letter-section-header {
	background: rgba(255,255,255,.5);
	border-bottom: 1px solid #fff;
}
.first-letter, .scroll-up-arrow {display: inline-block;}
.first-letter p, .scroll-up-link p {margin: .2em; font-size: 1.3em;}
.scrollUpArrow {font-weight: 900;}

.data-row {display: inline-block;	border-bottom: 1px solid #fff;}

.data-row:focus,
.data-row:hover,
.data-row:active {background: rgba(255,255,255,.5);}


/*			notes --------------------------------------------------------------- */

#notes {
	clear: left;
	font-size: .8em;
	background: #f8f8f8;
	border-bottom: 1px solid #ddd;
}

#notes p {padding: .5em;}
#defaultNotes p {padding: 0;}
#notComplete p, #defaultNotes .scroll-up-link p {margin: .2em;}
#defaultNotes .scroll-up-link p {line-height: 1.6em; font-size: 1.4em;}
#scrollUpArrow {font-weight: 900;}
#notes ul {padding: .5em;}


/*	Footer ------------------------------------------------------------------ */

footer {background: #f8f8f8; border-top: 1em solid #99f;}
#footerContainer {
	padding: 1em 0 .5em;
	border-top: 1px solid #fff;	border-bottom: 1px solid #ddd;
}
footer h4, footer ul {border-radius: 5px;}
footer h4 {
	margin: 0 .25em 0; padding: .125em 0;
	background: #eee; border: 1px solid #ddd; border-radius: 5px 5px 0 0;
}
footer ul {
	margin: 0 .25em .5em;
	background: #fff;
	border-radius: 0 0 5px 5px; border: 1px solid #ddd; border-top-width: 0;
}
footer ul li a {display: block; line-height: 1.5em;}
footer ul li a:hover {background: #eee;}
footer ul li:last-child a:hover {border-radius: 0 0 5px 5px;}

/*.shariff-button a.share_text {color: #fff;}*/

#footerFoot {line-height: 1em; background: #eee;}
#footerFoot p {font-size: .6em;}

/* properties for breakpoints ----------------------------------------------- */
/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */

@media only screen and (min-width: 48em) {
	#sortArea, #filterArea, #sort form, #filter form {display: inline;}
	#sort a, #filter a {display: none;}
	#footerContainer div:first-child h4 {margin-left: .5em;}
	#footerContainer div:last-child h4 {margin-right: .5em;}
	#footerContainer div:first-child ul {margin-left: .5em;}
	#footerContainer div:last-child ul {margin-right: .5em;}
	footer ul {min-height: 12em;}
	footer ul li:last-child a:hover {border-radius: 0;}
	#branding {
		background-image: linear-gradient(to right, #fff 180px, rgba(153,153,255,.2));
	}
	#branding:hover {
		background: #fff;
	}
	img#CosmoWikiLogo {display: block; margin: 5px; height: 30px;}
	img#CosmoWikiIcon {display: none;}
	#menuToggleButton {display: none;}
}
@media only screen and (min-width: 64em) {
	header, main, footer {max-width: 1000px;}
	main {margin-bottom: 1em; border-radius: 0 0 5px 5px;}
	nav {margin-top: 1em; border-radius: 5px 5px 0 0;}
	footer {margin-bottom: 1em; border-radius: 5px 5px 5px 5px;}
  #controlArea {min-height: 1.5em;}
}

@media only screen and (min-width: 1025px) {
	header, main, footer {max-width: 1000px;}
	main {margin-bottom: 1em; border-radius: 0 0 5px 5px;}
	nav {margin-top: 1em; border-radius: 5px 5px 0 0;}
	footer {border-radius: 5px 5px 5px 5px;}
}
@media only screen and (min-width: 1200px) {
	#wrapper {
		background: url(/img/bgWrapper8_md.jpg) center / cover no-repeat fixed #113;
  }
}
@media only screen and (min-width: 2500px) {
	#wrapper {
		background: url(/img/bgWrapper8_lg.jpg) center / cover no-repeat fixed #113;
  }
}
@media only screen and (min-width: 3800px) {
	#wrapper {
		background: url(/img/bgWrapper8_xl.jpg) center / cover no-repeat fixed #113;
  }
}

/*			social menu --------------------------------------------------------- */

/*#social {float: right;}*/
/*#social ul {margin-top: 6px; padding-bottom: 0; float: right;}*/
/*#social ul li {display: block; float: left; padding: 0 0 8px 14px;}*/
/*#social ul li:last-child {padding-right: 8px;}*/
/*#social ul li a {*/
/*	display: block; width: 40px; height: 40px;*/
/*	color: #fff; text-decoration: none; line-height: 40px;*/
/*	font-family: FontAwesome; font-size: 26px;*/
/*	background: #d0d0d0; border-radius: 20px; box-shadow: 3px 3px 5px #ddd;*/
/*	transition: all 50ms linear;*/
/*}*/
/*#social ul li a::before {*/
/*	text-shadow: 1px 1px 1px #999;*/
/*	-webkit-font-smoothing: antialiased;*/
/*	-moz-osx-font-smoothing: grayscale;*/
/*}*/
/*#social ul li.facebook a::before {content: "\f09a";}*/
/*#social ul li.googleplus a::before {content: "\f0d5";}*/
/*#social ul li.twitter a::before {content: "\f099";}*/
/*#social ul li.github a::before {content: "\f09b";}*/
/*#social ul li.info a::before {content: "\f129";}*/
/*#social ul li.search a::before {content: "\f002";}*/
/*#social ul li.facebook a:hover, #social ul li.facebook a:active,*/
/*#social ul li.facebook a:focus {background-color: #4273c8;}*/
/*#social ul li.googleplus a:hover, #social ul li.googleplus a:active,*/
/*#social ul li.googleplus a:focus {background-color: #d34836;}*/
/*#social ul li.twitter a:hover, #social ul li.twitter a:active,*/
/*#social ul li.twitter a:focus {background-color: #32bbf5;}*/
/*#social ul li.github a:hover, #social ul li.github a:active,*/
/*#social ul li.github a:focus {background-color: #4078c0;}*/
/*#social ul li.info a:hover,#social ul li.info a:active,*/
/*#social ul li.info a:focus {background-color: #0c0;}*/
/*#social ul li.search a:hover, #social ul li.search a:active,*/
/*#social ul li.search a:focus {background-color: #666;}*/

/*#searchDiv {*/
/*	position: relative; top: 25px; left: 685px; width: 273px; height: 48px;*/
/*	background-color: rgba(128,128,128,.5);*/
/*	border: 1px solid #d0d0d0; border-radius: 0 0 0 6px;*/
/*}*/
/*#searchForm {position: absolute; top: 10px; left: 10px; }*/
/*#searchInput {*/
/*	float: left; padding: 3px 5px; width: 214px;*/
/*	font-size: 1em; line-height: 1.25em;*/
/*	background: #fff;*/
/*	border: 1px solid #d0d0d0; border-right: none; border-radius: 6px 0 0 6px;*/
/*}*/
/*#searchSubmit {*/
/*	width: 28px; height: 28px; font-family: FontAwesome; font-size: 16px; color: #55f;*/
/*	cursor: pointer; background: #fff;*/
/*	border: 1px solid #d0d0d0; border-left: none; border-radius: 0 6px 6px 0;*/
/*}*/
/*#searchInput, #searchSubmit {box-shadow: none;}*/
/*#searchSubmit:hover, #searchSubmit:active, #searchSubmit:focus {color: #333;}*/

/*#flags {width: 150px; height: 75px; float: right;}*/
