.event-row {padding: .2em 0;}

.event-data1 {font-size: 1.125em; text-align: center;}
.event-dash {display: none;}

.event-data2 {font-size: 1.25em; line-height: 1.5em; text-align: center;}

/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 35.5em) {
	.event-date {text-align: right;}
	.event-dash {display: inline-block;}
	.event-dash p {margin: 0 .1em;}
	.event-place {text-align: left;}
}
@media only all and (min-width: 48em) {
	.event-data2 {font-size: 1.5em; line-height: 1.75em;}
}
@media only all and (min-width: 64em) {
	.event-data1 {line-height: 1.75em;}
	.event-data2 {font-size: 1.125em; line-height: 1.75em; text-align: left;}
}

/*#timelineHeader, #timelineFooter, .timelineRow {
	height: 22px; padding-top: 5px; clear: left; display: block;
}
#timelineHeader {
	background: url("/img/bg_timelinestart.png") no-repeat rgba(255,255,255,.9);
}

.timelineRow {
	background: url("/img/bg_timeline.png") left no-repeat rgba(255,255,255,.9);
}
.timelineRow:hover {
	font-size: 1.1em;
	background: url("/img/bg_timeline.png") left no-repeat rgba(255,255,255,.95);
}

#timelineFooter {background: url("/img/bg_timelineend.png") no-repeat rgba(255,255,255,.9);}

.timelineDate, .timelinePlace, .timelineEvent {float: left; overflow: hidden; white-space: nowrap;}
.timelineDate {width: 112px; padding-left: 46px;}
.timelinePlace {width: 187px; padding-left: 5px;}
.timelineEvent {width: 605px; padding-left: 5px;}*/
