/*#featured.missions {background: url("/img/featured_missions.jpg") center top / contain no-repeat;}*/

.missionsRow {display: inline-block; border-bottom: 1px solid #fff;}
.missionsRow:last-child {border-width: 0;}
.missionsRow:hover {background: #fff;}

.missionImg {min-width: 150px;}
.missionImg img {width: 150px; display: block; margin: 2% auto;}
.missionImg small {margin-left: 50%; font-size: .8em;}

.missionInfo a, .missionInfo p {float: left; line-height: 1.5em; }
.missionInfo a {font-size: 1.5em;}
.missionInfo p {margin-left: 1em; padding: 0;}

/*#missionsHeader {
	background-image: linear-gradient(to bottom, #fff 0%, #d2d2ff 100%);
	border-bottom: 1px solid #d0d0d0;
}
#missionsTable tr {height: 2em; clear: left; display: block;}
#missionsTable tr:nth-child(even) {background: rgba(192,192,192,.1);}
#missionsTable th, #missionsTable td {
	float: left; line-height: 2em; overflow: hidden; white-space: nowrap;
}
.missionsRow:hover {
	background: #fff;
	box-shadow: 0px 6px 6px -4px #999, 0px -6px 6px -4px #999;
	}
.missionLaunch, .missionEnd {width: 70px;}
.missionName {width: 214px;}
.missionCountry {width: 96px;}
.missionRocket {width: 131px;}
.missionPad {width: 116px;}
.missionCrew {width: 47px; padding-right: 4px;}
.missionDest {width: 104px;}
.missionDuration {width: 105px; padding-right: 3px;}*/
/*
#missionsTable .infoRow {
	position: absolute; min-width: 250px; max-width: 496px; display: none;
	margin: 3px 0 0 0px; padding: 5px;
	text-align: justify; border: 1px solid #b3e4ff;
}
*/
/*.missionInfo {float: left; overflow: hidden; white-space: nowrap;}*/
