/*#featured.objects {background: url("/img/featured_objects.jpg") center top / contain no-repeat;}*/
.subItem.solsys:focus,
.subItem.solsys:hover,
.subItem.solsys:active {
	background: url("/img/featured_solsys1.jpg") center / cover no-repeat;
}
.subItem.constellations:focus,
.subItem.constellations:hover,
.subItem.constellations:active {
	background: url("/img/featured_constellations1.jpg") center / cover no-repeat;
}
.subItem.stars:focus,
.subItem.stars:hover,
.subItem.stars:active {
	background: url("/img/featured_stars1.jpg") center / cover no-repeat;
}
.subItem.stations:focus,
.subItem.stations:hover,
.subItem.stations:active {
	background: url("/img/featured_stations1.jpg") center / cover no-repeat;
}