/*	person & scientist -------------------------------------------------------*/
.person-row, .scientist-row {padding: .2em 0;}

.person-name, .scientist-name {font-size: 1.25em; text-align: center;}

.person-info, .scientist-info,
.person-life, .scientist-life {font-size: 1.125em; text-align: center;}

.person-info div, .scientist-info div,
.person-life div, .scientist-life div {display: inline-block;}
.person-born p, .scientist-born p {margin-right: .2em; text-align: right;}
.person-died p, .scientist-died p {margin-left: .2em; text-align: left;}

.person-name, .scientist-name {}
.person-country, .scientist-country {}
.person-profession, .scientist-profession {}
/*.person-life, .scientist-life {background: #ccc;}*/

/*	astronaut ----------------------------------------------------------------*/
.astronaut-row {padding: .2em 0;}

.astronaut-name {
	display: block; margin: 0 0 .2em .2em;
	font-size: 1.25em; text-align: left;
}
.astronaut-name img {margin-left: .2em; height: .75em;}

.astronaut-img {display: inline;}
.astronaut-img {margin: .2em 0 0 .2em;}
.astronaut-img img {height: 110px;}

.astronaut-data {margin: 0 0 0 .2em; font-size: 1.125em;}
.astronaut-data div {display: block;}

.astronaut-life p {display: inline;}
.astronaut-died {margin-left: .5em;}

.astronaut-spaceflights div {display: block;}
.astronaut-missionsdata p {display: inline;}
.astronaut-numberofmissions {margin-right: .5em;}

.astronaut-spacewalks p {display: inline;}
.astronaut-durationofspacewalks {margin-left: .5em;}

/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 48em) {
	.person-name,	.scientist-name {line-height: 2.125em; font-size: 1.125em;}
	.person-name,	.scientist-name,
	.person-info,	.scientist-info,
	.person-life,	.scientist-life {text-align: left;}
	.person-name p,	.scientist-name p {margin-left: .2em;}
	.person-born p,	.scientist-born p {text-align: left;}
}
@media only all and (min-width: 64em) {
	.person-name,	.scientist-name,
	.person-info,	.scientist-info,
	.person-life,	.scientist-life {line-height: 1.5em; text-align: left;}
}
