#solarsystemTable {
	font-size: 1.25em;
}
#solarsystemTable div {display: block;}
.solsys-name {padding: .2em;}
#sun,
#asteroidBelt,
#transneptunianObjects,
#oortCloud,
.group2,
.group3,
.group4 {border-bottom: 1px solid #fff;}
.group2 {margin-left: 25%;}
.group3 {margin-left: 50%;}
.group4 {margin-left: 75%;}

/*#sun {outline: 1px solid black;}
#innerPlanets {outline: 1px solid blue;}
#asteroidBelt {outline: 1px solid red;}
#outerPlanets {outline: 1px solid black;}*/

.sun {
	background-image: linear-gradient( to right, rgba(240,88,2,.5) 50%, rgba(255,255,255,0));
}
.sun:focus, .sun:hover, .sun:active {
	background-image: linear-gradient( to right, rgba(240,88,2,.8) 50%, rgba(255,255,255,0));
}

#innerPlanets,
#outerPlanets {background: rgba(255,255,255,.3);}

.mercury {
	background-image: linear-gradient( to right, rgba(210,210,210,.5) 50%, rgba(255,255,255,0));
}
.mercury:focus, .mercury:hover, .mercury:active {
	background-image: linear-gradient( to right, rgba(210,210,210,.8) 50%, rgba(255,255,255,0));
}

.venus {
	background-image: linear-gradient( to right, rgba(230,190,18,.5) 50%, rgba(255,255,255,0));
}
.venus:focus, .venus:hover, .venus:active {
	background-image: linear-gradient( to right, rgba(230,190,18,.8) 50%, rgba(255,255,255,0));
}

.earth {
	background-image: linear-gradient( to right, rgba(1,114,192,.5) 50%, rgba(255,255,255,0));
}
.earth:focus, .earth:hover, .earth:active {
	background-image: linear-gradient( to right, rgba(1,114,192,.8) 50%, rgba(255,255,255,0));
}

.aten-asteroids,
.apollo-asteroids,
.amor-asteroids,
.asteroid-belt,
.centaurs-1,
.centaurs-2,
.centaurs-3,
.oort-cloud {
	background-image: linear-gradient( to right, rgba(181,181,181,.5) 50%, rgba(255,255,255,0));
}
.aten-asteroids:focus, .aten-asteroids:hover, .aten-asteroids:active,
.apollo-asteroids:focus, .apollo-asteroids:hover, .apollo-asteroids:active,
.amor-asteroids:focus, .amor-asteroids:hover, .amor-asteroids:active,
.asteroid-belt:focus, .asteroid-belt:hover, .asteroid-belt:active,
.centaurs-1:focus, .centaurs-1:hover, .centaurs-1:active,
.centaurs-2:focus, .centaurs-2:hover, .centaurs-2:active,
.centaurs-3:focus, .centaurs-3:hover, .centaurs-3:active,
.oort-cloud:focus, .oort-cloud:hover, .oort-cloud:active {
	background-image: linear-gradient( to right, rgba(181,181,181,.8) 50%, rgba(255,255,255,0));
}

.mars {
	background-image: linear-gradient( to right, rgba(229,145,85,.5) 50%, rgba(255,255,255,0));
}
.mars:focus, .mars:hover, .mars:active {
	background-image: linear-gradient( to right, rgba(229,145,85,.8) 50%, rgba(255,255,255,0));
}

.jupiter {
	background-image: linear-gradient( to right, rgba(171,154,144,.5) 50%, rgba(255,255,255,0));
}
.jupiter:focus, .jupiter:hover, .jupiter:active {
	background-image: linear-gradient( to right, rgba(171,154,144,.8) 50%, rgba(255,255,255,0));
}

.saturn {
	background-image: linear-gradient( to right, rgba(221,198,157,.5) 50%, rgba(255,255,255,0));
}
.saturn:focus, .saturn:hover, .saturn:active {
	background-image: linear-gradient( to right, rgba(221,198,157,.8) 50%, rgba(255,255,255,0));
}

.uranus {
	background-image: linear-gradient( to right, rgba(181,223,221,.5) 50%, rgba(255,255,255,0));
}
.uranus:focus, .uranus:hover, .uranus:active {
	background-image: linear-gradient( to right, rgba(181,223,221,.8) 50%, rgba(255,255,255,0));
}

.neptune {
	background-image: linear-gradient( to right, rgba(72,115,255,.5) 50%, rgba(255,255,255,0));
}
.neptune:focus, .neptune:hover, .neptune:active {
	background-image: linear-gradient( to right, rgba(72,115,255,.8) 50%, rgba(255,255,255,0));
}

.transneptunian-objects {
	background-image: linear-gradient( to right, rgba(193,160,129,.5) 50%, rgba(255,255,255,0));
}
.transneptunian-objects:focus,
.transneptunian-objects:hover,
.transneptunian-objects:active {
	background-image: linear-gradient( to right, rgba(193,160,129,.8) 50%, rgba(255,255,255,0));
}
