#pageSubMenu li.Raumfahrer {
	background: url("/img/title_astronauts.jpg") center / cover no-repeat;
}
#pageSubMenu li.Missionen {
	background: url("/img/title_missions.jpg") center / cover no-repeat;
}
#pageSubMenu li.Weltraumausstiege {
	background: url("/img/title_spacewalks.jpg") center / cover no-repeat;
}
#pageSubMenu li.Raumstationen {
	background: url("/img/title_stations.jpg") center / cover no-repeat;
}
#pageSubMenu li.Weltraumteleskope {
	background: url("/img/title_spacetelescopes.jpg") center / cover no-repeat;
}
