.station-row {padding: .5em 0;}

.stationImg {min-heiht: 120px; overflow: hidden;}
.stationImg img {display: block; height: 120px; margin: 0 auto;}
.stationImg small {display: block; font-size: .8em;}
.stationInfo p.station-name {margin: .5em 0 0; font-size: 1.25em;}
.stationInfo p.station-data {margin: .5em 0 0; font-size: 1em;}

/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 35.5em) {
  .stationImg img {margin: 0 auto;}
  .stationInfo p.station-name {margin: 1em 0 0; font-size: 1.25em;}}
@media only all and (min-width: 48em) {
.stationImg small {display: inline;}
.stationImg small:last-child {margin-left: .5em;}
}
