.stationImg {min-width: 150px;}
.stationImg img {width: 150px; display: block; margin: .1em auto;}
.stationImg small {margin-left: 50%; font-size: .8em;}

.stationInfo {margin: .2em 0;}
.stationInfo a {font-size: 1.5em; line-height: 1.5em;}
