.spacewalk-row div {padding: .2em 0;}

/*.spacewalk-row div {outline: 1px solid #000;}*/

.spacewalk-name p {font-size: 1.25em;}
.spacewalk-info p {font-size: 1.125em;}
.spacewalk-dates p {display: inline;}
.spacewalk-end {margin-left: .25em;}

.spacewalk-astronauts p {display: block; font-size: 1.125em;}

/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 35.5em) {
  .spacewalk-astronauts p {display: inline; margin-left: .25em;}
  .spacewalk-astronaut1 {margin: 0;}
}
@media only all and (min-width: 48em) {
  .spacewalk-info div {display: inline-block;}
  .spacewalk-astronaut2,
  .spacewalk-astronaut3 {margin-left: .25em;}
}
@media only all and (min-width: 64em) {
  .spacewalk-name {line-height: 2em;}
  .spacewalk-info {text-align: left;}
  .spacewalk-info p {line-height: 1.75em;}
}
