#vcardBackground {
	position: fixed; top: 0; left: 0; width: 100%; height: 100%;
	background: rgba(0,0,0,.8);
}

#vcardOverlay {
  position: fixed; top: 0; left: 0; margin: 0;
	width: 100%; height: 100%; z-index: 5;
}

#vcard {margin-top: 41px;}

#vcardContainer {background: #fff;}

#vcardClose {display: block; float: right;	margin: -.2em .25em; font-size: 2em;}
#vcardClose:after {content: '\00D7';}

#vcardHeader, #vcardMain, #vcardFooter {padding: .25em;}

#vcardHeader {
	font-size: .75em;
	border-top: 1px solid #aaf; border-bottom: 1px solid #aaf;
}

#vcardContent {padding-right: .5em;}

#vcardItemImg img {
	float: left; margin: 0 .5em .5em 0; min-height: 150px;
	border: 2px solid #a0a0a0;
}

#vcardItemName h3 {background: #eee;}

#vcardItemArticle {clear: both; max-height: 5em; overflow-y: scroll;}
#coordinates {display: none;}

#vcardRelations {margin-top: .5em; padding-top: .5em; border-top: 1px solid #aaf;}

ul.vcardItemRelations li {background: #eee;}
ul.vcardItemRelationsList {list-style: none; padding: .5em 0 .5em;}
ul.vcardItemRelationsList li {background: #fff;}
ul.vcardItemRelationsList:last-child {padding-bottom: 10px;}
li.vcardItemRelationsList {padding: .2em 0;}

#vcardFooter {font-size: .75em; border-top: 1px solid #aaf;}

/* global breakpoints for min-width: sm = 35.5em ---------------------------- */
@media only all and (min-width: 35.5em) {
	#vcardHeader, #vcardMain, #vcardFooter {padding: .5em;}
	#vcardHeader {border-top: none;}

	#vcardContent {padding-right: .5em;}

	#vcardItemImg img {
		float: left; margin: 0 .5em .5em 0; min-height: 150px;
		border: 2px solid #a0a0a0;
	}

	#vcardItemName h3 {background: #eee;}

	#vcardItemArticle {
		clear: both;
		max-height: 10em; min-height: 5em; overflow-y: scroll;
	}
	#coordinates {display: none;}
	#vcardItemArticle p {margin: .5em .5em .5em 0;}
}
/* global breakpoints for min-width: md = 48em ------------------------------ */
@media only all and (min-width: 48em) {
	#vcard {margin: 42px auto 42px; max-width: 95%; max-height: 100%;}
	#vcardContainer {border: 2px solid #aaf; border-radius: 5px;}
	#vcardMain {display: -webkit-flex; display: flex; padding: .5em;}
	#vcardRelations {
		margin-top: 0; padding-top: 0; padding-left: .5em;
		border-top: none; border-left: 1px solid #aaf;
	}
}
/* global breakpoints for min-width: lg = 64em ------------------------------ */
@media only all and (min-width: 64em) {
	#vcard {margin: 3em auto 3em; max-width: 1000px; max-height: 90%;}
}

/* global breakpoints for different min-heights ----------------------------- */
@media only all and (min-height: 20em) {
	#vcardItemArticle {max-height: 10em;}
}
@media only all and (min-height: 25em) {
	#vcardItemArticle {max-height: 15em;}
}
@media only all and (min-height: 30em) {
	#vcardItemArticle {max-height: 20em;}
}
@media only all and (min-height: 35em) {
	#vcardItemArticle {max-height: 25em;}
}
@media only all and (min-height: 40em) {
	#vcardItemArticle {max-height: 30em;}
}
@media only all and (min-height: 45em) {
	#vcardItemArticle {max-height: 35em;}
}
@media only all and (min-height: 50em) {
	#vcardItemArticle {max-height: 40em;}
}
@media only all and (min-height: 60em) {
	#vcardItemArticle {max-height: 50em;}
}
