.welcome-container {}

.welcome-container div {padding: .5em;}

.welcome-img {
	width: 8em; height: 6em; padding: 2px;
	border: 1px solid #55f;
 }
#welcomeImgEvents1 {float: right; margin-left: .5em;}

.welcome-container h4 {
	padding: .25em;
	background: rgba(0, 0, 255, .1);
}

.welcome-container p {
	padding: .5em 0;
	text-align: justify;
}

/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 35.5em) {

}

@media only all and (min-width: 48em) {
	.welcome-container.pure-u-md-1-2:nth-of-type(odd) div {margin-left: .5em;}
	.welcome-container.pure-u-md-1-2:nth-of-type(even) div {margin-right: .5em;}
}

@media only all and (min-width: 64em) {
	.welcome-img {border-radius: 5px;}
	.welcome-img:hover {border-radius: 5px;}
	.welcome-img img {border-radius: 3px;}
}
