#siteTitle.welcome {
	background: url('/img/title_welcome.jpg') center / cover no-repeat;
}
.welcome-container {background: #222;}
.welcome-container h4 {
	padding: .25em; color: #eee; font-size: 1.25rem;
	background: #aaf;
}
.welcome-text {background: #eee;}
.welcome-text p {padding: .5em; text-align: justify;}

#welcomeCosmowiki {background: #eee;}
.welcome-special {padding: .25em;}
.welcome-special div {display: inline-block;}
.welcome-special a {
	color: rgba(128, 128, 255, .7); font-size: 3.5em; font-weight: 900;
}
.welcome-special div:nth-of-type(2n) {margin: -2em 0 0 2em;}
.welcome-special div:nth-of-type(3n) {margin: -1.5em 0 0 2.5em;}
.welcome-special div:nth-of-type(4n) {margin: -1em 0 0 3em;}
.welcome-special div:nth-of-type(5n) {margin: -2.5em 0 0 1.5em;}
.welcome-special a:focus,
.welcome-special a:hover,
.welcome-special a:active {color: rgba(221, 0, 0, .7);}

/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 35.5em) {
	#welcomeCosmowiki {
		background: url('/img/welcome/welcome_cosmowiki.jpg') center / cover no-repeat;
	}
	#welcomeEvents {
		background: url('/img/welcome/welcome_events_sm.jpg') center / cover no-repeat;
	}
	#welcomeScientists {
		background: url('/img/welcome/welcome_astronomers.jpg') center / cover no-repeat;
	}
	#welcomeAstronauts {
		background: url('/img/welcome/welcome_astronauts.jpg') center / cover no-repeat;
	}
	#welcomePlaces {
		background: url('/img/welcome/welcome_places.jpg') center / cover no-repeat;
	}
	#welcomeSolsys {
		background: url('/img/welcome/welcome_solsys.jpg') center / cover no-repeat;
	}
	#welcomeConstellations {
		background: url('/img/welcome/welcome_constellations.jpg') center / cover no-repeat;
	}
	#welcomeStars {
		background: url('/img/welcome/welcome_stars.jpg') center / cover no-repeat;
	}
	.welcome-container {
		position: relative; height: 400px;
	}
	.welcome-container h4 {font-size: 1.5rem; background: rgba(0, 0, 255, .2);}
	.welcome-text {
		position: absolute; bottom: 0;
		background: rgba(255, 255, 255, .8);
	}
}

@media only all and (min-width: 48em) {
	#welcomeEvents {
		background: url('/img/welcome/welcome_events.jpg') center / cover no-repeat;
	}
	.welcome-container {
		margin-bottom: 15px;
	}
}

@media only all and (min-width: 64em) {
	.welcome-container,
	#welcomeCosmowiki {border-radius: 5px;}
	.welcome-container h4 {border-radius: 5px 5px 0 0;}
	.welcome-text,
	.welcome-special {border-radius: 0 0 5px 5px;}
}
