#featured.about{background:url("/img/featured.jpg") center no-repeat;}
#about ul li{padding:10px 0;}
#about ul li.q{padding:20px 10px; border-bottom:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;}
#about ul li a.question{display:block;}
/*#about ul li a.question:after{font-family:FontAwesome; content:'\f0da';}
#about ul li ul{padding-top:10px; font-size:.825em;}
*/