/*#featured.astronomy {background: url("/img/featured_astronomy.jpg") center top / contain no-repeat;}*/
.subItem.astronomers:focus,
.subItem.astronomers:hover,
.subItem.astronomers:active {
	background: url("/img/featured_astronomers1.jpg") center / cover no-repeat;
}
.subItem.solsys:focus,
.subItem.solsys:hover,
.subItem.solsys:active {
	background: url("/img/featured_solsys1.jpg") center / cover no-repeat;
}
.subItem.const:focus,
.subItem.const:hover,
.subItem.const:active {
	background: url("/img/featured_constellations1.jpg") center / cover no-repeat;
}
.subItem.stars:focus,
.subItem.stars:hover,
.subItem.stars:active {
	background: url("/img/featured_stars1.jpg") center / cover no-repeat;
}