#featured.const{background:url("/img/featured_constellations.jpg") center no-repeat;}
#constHeader{
	background-image:linear-gradient(to bottom, #fff 0%, #d2d2ff 100%);
	border-bottom:1px solid #d0d0d0;
}
#constTable tr{height:2em; clear:left; display:block;}
#constTable tr:nth-child(even){background:rgba(192,192,192,.1);}
#constTable th, #constTable td{
	float:left; line-height:2em; overflow:hidden; white-space:nowrap;
}
.constRow:focus, .constRow:hover, .constRow:active{
	box-shadow:0px 6px 6px -4px #999, 0px -6px 6px -4px #999;
}
th.constName, td.constName{width:172px; padding-left:3px;}
th.constLatin, .constLatin{width:130px;}
th.constShort, td.constShort{width:40px;}
th.constAuthor, .constAuthor{width:75px;}
th.constY, .constY{width:40px;}
th.constSphere, .constSphere{width:50px;}
th.constVisFrom, th.constVisTo, .constVisFrom, .constVisTo{width:45px;}
th.constSqDeg, .constSqDeg{width:65px;}
th.starsOver3Mag, .starsOver3Mag, th.starsOver4Mag, .starsOver4Mag{width:55px;}
th.constBrightStar, .constBrightStar{width:123px; padding-right:2px;}
th.constMagMax, .constMagMax{width:60px;}