@font-face{font-family:'FontAwesome';src:url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0');src:url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}

/*	Global elements ------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
	background:transparent;
	border:0;
	margin:0; padding:0;
	vertical-align:baseline;
}
body{color:#777; font-family: sans-serif; font-weight: 100;}
h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-weight:700;}
p{padding-top:10px;}
ul{margin:0; padding-bottom:10px; list-style:none;}
a{font-weight:500; text-decoration:none;}
a:link, a:visited{color:#55f;}
a:focus, a:hover, a:active {color:#333;}

/*>Global Classes ---------------------------------------------------------- */
.left{text-align:left;}
.center{text-align:center;}
.right{text-align:right;}
.justify{text-align:justify;}
.small{font-size:.7em;}
.visible{display:block;}
.hidden{display:none;}

/*	text-shadows ------------------------------------------------------------ */
.cw-page-links a{text-shadow:1px 1px #fff;}
#featured h1{text-shadow:1px 1px 2px rgba(255,255,255,.7);}

/*	Structure --------------------------------------------------------------- */
#wrapper{margin:0 auto;}
/*		Header -------------------------------------------------------------- */
header{max-width:960px; margin:0 auto;}
#branding{margin:0; padding:0; height:75px; float:left;}
#branding img{width:500px; height:75px;}

/*			social menu ----------------------------------------------------- */
#social{height:75px; float:right;}
#social ul{width:264px; height:54px; margin-top:17px; float:right;}
#social ul li{display:block; float:left; margin:0; padding:0 14px 14px 0;}
#social ul li:last-child{padding:0 8px 14px 0;}
#social ul li a{
	display:block; width:40px; height:40px;
	color:#fff; text-decoration:none; line-height:40px;
	font-family:FontAwesome; font-size:26px;
	border-radius:20px; box-shadow:3px 3px 5px #ddd; background:#d0d0d0;
}
#social ul li a::before{
	text-shadow:1px 1px 1px #999;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
#social ul li.facebook a::before{content:"\f09a";}
#social ul li.googleplus a::before{content:"\f0d5";}
#social ul li.twitter a::before{content:"\f099";}
#social ul li.github a::before{content:"\f09b";}
#social ul li.info a::before{content:"\f129";}
#social ul li.search a::before{content:"\f002";}

#social ul li.facebook a:hover, #social ul li.facebook a:active,
#social ul li.facebook a:focus{background-color:#4273c8;}
#social ul li.googleplus a:hover, #social ul li.googleplus a:active,
#social ul li.googleplus a:focus{background-color:#d34836;}
#social ul li.twitter a:hover, #social ul li.twitter a:active,
#social ul li.twitter a:focus{background-color:#32bbf5;}
#social ul li.github a:hover, #social ul li.github a:active,
#social ul li.github a:focus{background-color:#4078c0;}
#social ul li.info a:hover,#social ul li.info a:active,
#social ul li.info a:focus{background-color:#0c0;}
#social ul li.search a:hover, #social ul li.search a:active,
#social ul li.search a:focus{background-color:#666;}
/*
#searchDiv{
	position:relative; top:25px; left:685px; margin:0; width:273px; height:48px;
	background-color:rgba(128,128,128,.5);
	border:1px solid #d0d0d0; border-radius:0 0 0 6px;
}
#searchForm{position:absolute; top:10px; left:10px; margin:0; padding:0;}
#searchInput{
	float:left; margin:0; padding:3px 5px; width:214px;
	font-size:13pt; line-height:20px;
	border:1px solid #d0d0d0; border-right:none; border-radius:6px 0 0 6px;
	background:#fff;
}
#searchSubmit{
	width:28px; height:28px; font-family:FontAwesome; font-size:16px; color:#55f;
	cursor:pointer; border:1px solid #d0d0d0; border-left:none; border-radius:0 6px 6px 0;
	background:#fff;
}
#searchInput, #searchSubmit{box-shadow:none;}
#searchSubmit:hover, #searchSubmit:active, #searchSubmit:focus{color:#333;}
*/
/*#flags{width:150px; height:75px; float:right;}*/

/*			nav menu -------------------------------------------------------- */
/*#menu, #menu li, #menu a{font-weight:700; background:transparent;}
nav ul{clear:both; margin:0; padding:0;list-style:none; font-size:.9em; font-weight:700;}
nav ul li, ul.sub-menu li{float:left; margin:0; padding:0; width:137px; height:25px;}
nav ul a{display:block; float:left; width:136px; height:24px; line-height:24px;}
nav ul li ul{display:none;}
nav ul li:hover ul, nav ul li:focus ul{display:block;}
nav ul li ul li{position:relative;}

nav ul a, #menu form{border:1px solid #d0d0d0; border-radius:6px 6px 0 0;}
nav ul li ul a{border-radius:0;}
#menu .sub-menu li:last-child a{
	border-right:1px solid #d0d0d0; 
	border-bottom:1px solid #d0d0d0; 
	border-left:1px solid #d0d0d0;
}
#menu .sub-menu li:last-child a{border-radius:0 0 6px 6px;}*/

/* - red - chronicle - */
/*#menu a.chronicle, #menu a.missions{
	background-image:linear-gradient(to bottom, #fff 0%, #ffc2c2 100%);
}
#menu a.chronicle:focus, #menu a.chronicle:hover, #menu a.chronicle:active, 
#menu a.missions:focus, #menu a.missions:hover, #menu a.missions:active {
	background-image:linear-gradient(to bottom, #fff 0%, #ff8585 100%);
}*/

/* - turquoise - persons - */
/*#menu a.persons, #menu a.astronomers, #menu a.astronauts{
	background-image:linear-gradient(to bottom, #fff 0%, #a2e2e2 100%);
}
#menu a.persons:focus, #menu a.persons:hover, #menu a.persons:active, 
#menu a.astronomers:focus, #menu a.astronomers:hover, #menu a.astronomers:active, 
#menu a.astronauts:focus, #menu a.astronauts:hover, #menu a.astronauts:active {
	background-image:linear-gradient(to bottom, #fff 0%, #85c2c2 100%);
}*/

/* - yellow - places - */
/*#menu a.places{
	background-image:linear-gradient(to bottom, #fff 0%, #ffffc2 100%);
}
#menu a.places:focus,
#menu a.places:hover,
#menu a.places:active {
	background-image:linear-gradient(to bottom, #fff 0%, #ffff85 100%);
}*/

/* - violett - objects - */
/*#menu a.objects, #menu a.solsys, #menu a.const, #menu a.stars{
	background-image:linear-gradient(to bottom, #fff 0%, #ffc2ff 100%);
}
#menu a.objects:focus, #menu a.objects:hover, #menu a.objects:active, 
#menu a.solsys:focus, #menu a.solsys:hover, #menu a.solsys:active, 
#menu a.const:focus, #menu a.const:hover, #menu a.const:active, 
#menu a.stars:focus, #menu a.stars:hover, #menu a.stars:active {
	background-image:linear-gradient(to bottom, #fff 0%, #ff85ff 100%);
}*/

/* - green - astronomy - */
/*#menu a.astronomy{
	background-image:linear-gradient(to bottom, #fff 0%, #c2ffc2 100%);
}
#menu a.astronomy:focus,
#menu a.astronomy:hover,
#menu a.astronomy:active{
	background-image:linear-gradient(to bottom, #fff 0%, #85ff85 100%);
}*/

/* - blue - space flight - */
/*#menu a.spaceflight{
	background-image:linear-gradient(to bottom, #fff 0%, #d2d2ff 100%);
}
#menu a.spaceflight:focus,
#menu a.spaceflight:hover,
#menu a.spaceflight:active{
	background-image:linear-gradient(to bottom, #fff 0%, #8585ff 100%);
}*/

/* - grey - register - */
/*#menu a.register{
	background-image:linear-gradient(to top, #e1e1e1 0%, #fff 100%);
}
#menu a.register:focus,
#menu a.register:hover,
#menu a.register:active {
	background-image:linear-gradient(to top, #c0c0c0 0%, #fff 100%);
}*/
/*		Main -------------------------------------------------------------- */
main{
	max-width:960px; margin:0 auto;
	border-bottom:1px solid #d0d0d0; background:#f8f8f8;
}

/*			featured -------------------------------------------------------- */
#featured{height:150px; border-bottom:1px solid #d0d0d0;}
#featured h1, #featured p{color:#e5e5e5;}
#featured h1{padding:60px 0 0 10px;}
#featured h3{padding:10px 0 10px 10px;}

#featured.home, #featured.about{
	background:url("/img/featured.jpg") center no-repeat;
}
#featured.chronicle{
	background:url("/img/featured_chronicle.jpg") center no-repeat;
}
#featured.missions{
	background:url("/img/featured_missions.jpg") center no-repeat;
}
#featured.persons{
	background:url("/img/featured_persons.jpg") center no-repeat;
}
#featured.astronomers{
	background:url("/img/featured_astronomers.jpg") center no-repeat;
}
#featured.astronauts{
	background:url("/img/featured_astronauts.jpg") center no-repeat;
}
#featured.places{
	background:url("/img/featured_places.jpg") center no-repeat;
}
#featured.observatories{
	background:url("/img/featured_observatories.jpg") center no-repeat;
}
#featured.launchpads{
	background:url("/img/featured_launchpads.jpg") center no-repeat;
}
#featured.objects{
	background:url("/img/featured_objects.jpg") center no-repeat;
}
#featured.solsys{
	background:url("/img/featured_solsys.jpg") center no-repeat;
}
#featured.const{
	background:url("/img/featured_constellations.jpg") center no-repeat;
}
#featured.stars{
	background:url("/img/featured_stars.jpg") center no-repeat;
}
#featured.galaxies{
	background:url("/img/featured_galaxies.jpg") center no-repeat;
}
#featured.telescopes{
	background:url("/img/featured_telescopes.jpg") center no-repeat;
}
#featured.spacetel{
	background:url("/img/featured_spacetel.jpg") center no-repeat;
}
#featured.rockets{
	background:url("/img/featured_rockets.jpg") center no-repeat;
}
#featured.satellites{
	background:url("/img/featured_satellites.jpg") center no-repeat;
}
#featured.stations{
	background:url("/img/featured_stations.jpg") center no-repeat;
}
#featured.probes{
	background:url("/img/featured_probes.jpg") center no-repeat;
}
#featured.astronomy{
	background:url("/img/featured_astronomy.jpg") center no-repeat;
}
#featured.spaceflight{
	background:url("/img/featured_spaceflight.jpg") center no-repeat;
}
#featured.register{
	background:url("/img/featured_register.jpg") center no-repeat;
}

/*			infoArea -------------------------------------------------------- */
#infoArea{padding:10px 0; font-size:.8em; border-bottom:1px solid #d0d0d0;}

#infoText{max-width:629px; float:left; padding:0 0 0 10px; border-right:1px solid #d0d0d0;}
#infoText p{padding-right:10px;}

#news{max-width:300px; float:right; padding:0 10px; overflow:scroll;}
#news iframe{height:180px;}

#boxContainer{
	padding:10px 0; max-width:960px; clear:both; font-size:.8em;
	border-bottom:1px solid #d0d0d0;
}
.box{padding:0 10px; float:left;}
#boxLeft{max-width:300px;}
#boxMid{max-width:298px; border-left:1px solid #d0d0d0; border-right:1px solid #d0d0d0;}
#boxRight{max-width:300px;}
.box img{width:298px; border:1px solid #d0d0d0;}
/*.imgInfo{
	width:100%; margin:0; padding:0; color:#666; font-size:.563em; float:right;
}*/

/*			switch ---------------------------------------------------------- */
/*
#switch{margin:0; float:left; list-style:none; font-size:.8em; font-weight:500;}
#switch li{float:left; width:480px;}
#switch a{
	display:block; float:left; 
	margin:0; width:478px; height:20px; padding-top:4px;
}
#switch a{
	border-right:1px solid #d0d0d0; 
	border-bottom:1px solid #d0d0d0; 
	border-left:1px solid #d0d0d0;
}
#tableSwitch{float:right;}
*/

/*			cw-page-links --------------------------------------------------- */
/*
.cw-page-links{width:100%; border-bottom:1px solid #d0d0d0;}
.cw-page-links a{display:block; line-height:3em; font-size:1.75em; font-weight:bolder;}

.cw-page-links.astronomers:hover, .cw-page-links.astronomers:active,
.cw-page-links.astronomers:focus{
	background:url("/img/featured_astronomers1.jpg") center no-repeat;
}
.cw-page-links.solsys:hover, .cw-page-links.solsys:active,
.cw-page-links.solsys:focus{
	background:url("/img/featured_solsys1.jpg") center no-repeat;
}
.cw-page-links.const:hover, .cw-page-links.const:active,
.cw-page-links.const:focus{
	background:url("/img/featured_constellations1.jpg") center no-repeat;
}
.cw-page-links.stars:hover, .cw-page-links.stars:active,
.cw-page-links.stars:focus{
	background:url("/img/featured_stars1.jpg") center no-repeat;
}
.cw-page-links.astronauts:hover, .cw-page-links.astronauts:active,
.cw-page-links.astronauts:focus{
	background:url("/img/featured_astronauts1.jpg") center no-repeat;
}
.cw-page-links.missions:hover, .cw-page-links.missions:active,
.cw-page-links.missions:focus{
	background:url("/img/featured_missions1.jpg") center no-repeat;
}
.cw-page-links.stations:hover, .cw-page-links.stations:active,
.cw-page-links.stations:focus{
	background:url("/img/featured_stations1.jpg") center no-repeat;
}
*/

/*			filter & firstLetter -------------------------------------------- */
/*
#filter{
	margin:0; padding:5px 5px 5px 3px; font-size:.8em;
	border-bottom:1px solid #d0d0d0;
}
#filter.stars form{display:inline;}
*/
#letterLinks{padding:10px; background:#f8f8f8; border-bottom:1px solid #d0d0d0;}
#letterLinks a{font-size:.8em;}
#letterLinks a:focus, #letterLinks a:hover, #letterLinks a:active{font-size:1em;}
.letter-section{padding-top:10px;}
.letter-section:hover{background:#f0f0f0;}
.first-letter{padding:10px; font-size:1.3em; font-weight:500;}
/*
input[type=checkbox]{margin:0 0 3px 5px; vertical-align:middle;}
*/
/*		dataTable ----------------------------------------------------------- */
#dataTable{font-size:.8em;}
/*			dataTable borders ------------------------------------------- */
/*#placesHeader, #constHeader, #starsHeader, #missionsHeader{
	border-bottom:1px solid #d0d0d0;
}*/
/*			dataTable backgrounds ------------------------------------------- */
/*
#timelineHeader{
	background:url("/img/bg_timelinestart.png") no-repeat transparent;
}
.timelineRow{
	background:url("/img/bg_timeline.png") left no-repeat transparent;
}
#timelineFooter{
	background:url("/img/bg_timelineend.png") no-repeat transparent;
}
#placesTable th, #missionsTable th, #constTable th, #starsHeader th{
	background:url("/img/bg_order.png") right no-repeat transparent;
}
#placesTable th.headerSortUp, #missionsTable th.headerSortUp,
#constTable th.headerSortUp, #starsHeader .headerSortUp{
	background:url("/img/bg_order_asc.png") right no-repeat transparent;
}
#placesTable th.headerSortDown, #missionsTable th.headerSortDown,
#constTable th.headerSortDown, #starsHeader .headerSortDown{
	background:url("/img/bg_order_desc.png") right no-repeat transparent;
}
#placesTable th:hover, #missionsTable th:hover,
#constTable th:hover, #starsHeader th:hover{
	background:url("/img/bg_order1.png") right no-repeat transparent;
}
#placesTable th.headerSortUp:hover, #missionsTable th.headerSortUp:hover,
#constTable th.headerSortUp:hover, #starsHeader .headerSortUp:hover{
	background:url("/img/bg_order_asc1.png") right no-repeat transparent;
}
#placesTable th.headerSortDown:hover, #missionsTable th.headerSortDown:hover,
#constTable th.headerSortDown:hover, #starsHeader .headerSortDown:hover{
	background:url("/img/bg_order_desc1.png") right no-repeat transparent;
}
*/
/*
.timelineRow:hover, .timelineRow:active, .timelineRow:focus,
.missionsRow:hover, .missionsRow:active, .missionsRow:focus{background:#ffe2e2;}
*/
.personRow:focus, .personRow:hover, .personRow:active {background:#bafafa;}
/*
.placesRow:hover, .placesRow:active, .placesRow:focus{background:#ffffe2;}
.objectsRow:hover, .objectsRow:active, .objectsRow:focus,
.constRow:hover, .constRow:active, .constRow:focus,
.starsRow:hover, .starsRow:active, .starsRow:focus{background:#ffe2ff;}
.indexRow:hover, .indexRow:active, .indexRow:focus{background:#e1e1e1;}
.solsysRow{background:#c7e9ff;}
.solsysRow.Stern{background:LemonChiffon;}
.solsysRow.Merkur{background:#eedc82;}
.solsysRow.Venus{background:#cccdd5;}
.solsysRow.Erde{background:LightsteelBlue;}
.solsysRow.Mars{background:SandyBrown;}
.solsysRow.Jupiter{background:#e2d2c3;}
.solsysRow.Saturn{background:Khaki;}
.solsysRow.Uranus{background:#bee3e6;}
.solsysRow.Neptun{background:#90d0f8;}
*/

.personInfoBox,
.solsysInfoBox.Sonne, .solsysInfoBox.Planet, .solsysInfoBox.Mond,
.indexInfoBox{background:#fff;}

/*			dataTable gradients --------------------------------------------- */
/* - red - chronicle - */
/*.cw-page-links.chronicle{background-image:linear-gradient(to bottom, #fff 0%, #ffc2c2 100%);}*/

/* - turquoise - persons - */
/*.cw-page-links.persons{background-image:linear-gradient(to bottom, #fff 0%, #a2e2e2 100%);}*/

/* - yellow - places - */
/*#placesHeader{background-image:linear-gradient(to bottom, #fff 0%, #ffffc2 100%);}*/

/* - violett - objects - */
/*#objectsHeader{background-image:linear-gradient(to bottom, #fff 0%, #ffc2ff 100%);}*/

/* - green - astronomy - */
/*#constHeader, #starsHeader{background-image:linear-gradient(to bottom, #fff 0%, #c2ffc2 100%);}*/

/* - blue - space flight - */
/*#missionsHeader{background-image:linear-gradient(to bottom, #fff 0%, #d2d2ff 100%);}*/

/* - grey - register - */
/*#menu form, #switch a{background-image:linear-gradient(to top, #e1e1e1 0%, #fff 100%);}
#switch a:hover,
#switch a:active,
#switch a:focus{background-image:linear-gradient(to top, #c0c0c0 0%, #fff 100%);}
#filter, #notes{background-image:linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);}*/

/*			dataTable borders ----------------------------------------------- */
/*
#map_canvas{
	border-right:1px solid #d0d0d0; 
	border-bottom:1px solid #d0d0d0; 
	border-left:1px solid #d0d0d0;
}
*/
.personRow, .indexRow{border-radius:6px 6px 0 0;}
.personInfoBox, .solsysInfoBox, .indexInfoBox{
	border-width:0 2px 2px 2px; border-style:solid; border-radius:0 0 6px 6px;
}
.personInfoBox{border-color:#bafafa;}
.solsysInfoBox.Sonne{border-color:LemonChiffon;}
.solsysInfoBox.Merkur{border-color:#eedc82;}
.solsysInfoBox.Venus{border-color:#cccdd5;}
.solsysInfoBox.Erde{border-color:LightsteelBlue;}
.solsysInfoBox.Mars{border-color:SandyBrown;}
.solsysInfoBox.Jupiter{border-color:#e2d2c3;}
.solsysInfoBox.Saturn{border-color:Khaki;}
.solsysInfoBox.Uranus{border-color:#bee3e6;}
.solsysInfoBox.Neptun{border-color:#90d0f8;}
.solsysInfoBox, .solsysInfoBox.Gruppe von Objekten.Sonne{border-color:#c7e9ff;}
.indexInfoBox{border-color:#e1e1e1;}


/*			dataTable box-shadows ------------------------------------------- */
/*
.timelineRow:hover, .timelineRow:active, .timelineRow:focus,
.placesRow:hover, .placesRow:active, .placesRow:focus,
.objectsRow:hover, .objectsRow:active, .objectsRow:focus,
.constRow:hover, .constRow:active, .constRow:focus,
.starsRow:hover, .starsRow:active, .starsRow:focus,
.missionsRow:hover, .missionsRow:active, .missionsRow:focus{
	box-shadow:0px 6px 6px -4px #999, 0px -6px 6px -4px #999;
}
*/
.personRow:focus, .personRow:hover, .personRow:active, 
.personInfoBox, .solsysInfoBox, .indexInfoBox,
.indexRow:focus, .indexRow:hover, .indexRow:active {box-shadow:0px 6px 6px #999;}


/*			dataTable measures ---------------------------------------------- */
#dataTable{
	border-bottom:1px solid #d0d0d0;
	background-image:linear-gradient(to bottom, #f8f8f8 0%, #fff 100%);
	background-attachment:fixed;
}

/*.timelineCoords, .personCoords, #placesTable, .missionCoords{display:none;}*/
/*.firstLetterRow{padding:20px 5px 5px 10px;}*/
/*.firstLetterArrow{margin-left:925px; text-align:right;}*/

/*#timelineHeader, #timelineFooter, .timelineRow, 
#placesHeader, .placesRow, 
#constHeader, .constRow, 
#starsHeader, .starsRow, 
#missionsHeader, .missionsRow{height:20px; padding-top:5px; clear:left; display:block;}*/

/*.timelineDate, .timelinePlace, .timelineEvent,
.placeName header, .placeName, .placeWhere header, .placeWhere,
.placeWho header, .placeWho,
#constTable th, #constTable td,
#starsTable th, #starsTable td,
#missionsTable th, #missionsTable td{float:left; overflow:hidden; white-space:nowrap;}*/

/*.timelineDate{width:112px; padding-left:46px;}*/
/*.timelinePlace{width:187px; padding-left:5px;}*/
/*.timelineEvent{width:605px; padding-left:5px;}*/

.personRow, .indexRow{max-width:310px; line-height:1.5em; margin:0 5px; display:inline-block;}
.personRow:focus, .personRow:hover, .personRow:active, 
.indexRow:focus, .indexRow:hover, .indexRow:active {font-weight:700;}

.personInfoBox, .solsysInfoBox, .indexInfoBox{
	position:absolute; width:300px; margin:0; padding:3px; font-weight:normal;
}

.personItem, .indexItem{width:100%; height:100%;}
.personItem a, .solsysItem a, .indexItem a{padding:5px; display:block;}
.personProfession, .personLife, .personCountry,
.solsysCategory, .indexLife{margin-bottom:10px;}*

/*#map_canvas, #placesTable{margin:0; padding:0;}
#map_canvas{width:958px; height:528px;}
#mapInfoWindow{margin:10px; min-width:350px; min-height:100px; vertical-align:middle;}*/

/*#placesHeader, #constHeader, #starsHeader, #missionsHeader{
	font-size:1em; font-weight:bold; color:#666;
}*/

/*.placeName header, .placeName{width:347px; padding-left:3px;}
.placeWhere header, .placeWhere{width:270px;}
.placeWho header, .placeWho{width:340px;}*/

/*.solsysInfoBox{width:310px;}
.solsysRow.Planet{margin-left:320px;}
.solsysRow.Mond{margin-left:640px;}
.solsysItem a{padding:5px;}
.solsysInfoBox th, .solsysInfoBox td{padding-right:5px; min-width:145px}
.solsysInfoBox li{margin-left:20px;}*/

/*#constHeader th, #starsHeader th{line-height:20px;}
th.constName, td.constName{width:172px; padding-left:3px;}
th.constLatin, .constLatin{width:130px;}
th.constShort, td.constShort{width:40px;}
th.constAuthor, .constAuthor{width:75px;}
th.constY, .constY{width:40px;}
th.constSphere, .constSphere{width:50px;}
th.constVisFrom, th.constVisTo, .constVisFrom, .constVisTo{width:45px;}
th.constSqDeg, .constSqDeg{width:65px;}
th.starsOver3Mag, .starsOver3Mag, th.starsOver4Mag, .starsOver4Mag{width:55px;}
th.constBrightStar, .constBrightStar{width:122px; padding-right:3px;}
th.constMagMax, .constMagMax{width:60px;}*/

/*th.starHistName, td.starHistName{width:155px; padding-left:3px;}
th.starBay, .starBay{width:197px;}
th.starShort, td.starShort{width:50px; padding-right:5px;}
th.starConst, .starConst{width:116px;}
th.starSpektr, .starSpektr{width:78px;}
th.starAppMag, .starAppMag{width:40px;}
th.starDist, .starDist{width:40px;}
th.starRekt, .starRekt{width:102px;}
th.starDekli, .starDekli{width:96px;}
th.starMass, .starMass{width:38px;}
th.starRadius, .starRadius{width:40px;}
.starInfoBox{display:none;}*/

/*th.missionLaunch, td.missionLaunch, th.missionEnd, td.missionEnd{width:70px;}
th.missionName, td.missionName{width:214px;}
th.missionCountry, td.missionCountry{width:96px;}
th.missionRocket, td.missionRocket{width:131px;}
th.missionPad, td.missionPad{width:116px;}
th.missionCrew, td.missionCrew{width:47px; padding-right:4px;}
th.missionDest, td.missionDest{width:104px;}
th.missionDuration, td.missionDuration{width:105px; padding-right:3px;}*/

/*#missionsTable .infoRow{
	position:absolute; min-width:250px; max-width:496px; display:none;
	margin:3px 0 0 0px; padding:5px;
	text-align:justify; border:1px solid #b3e4ff;
}*/
/*.missionInfo{float:left; overflow:hidden; white-space:nowrap;}*/

/*		dataTables END ------------------------------------------------------- */

/*		About ---------------------------------------------------------------- */
/*#about ul li{padding:10px 0;}
#about ul li.q{padding:20px 10px; border-bottom:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;}
#about ul li a.question{display:block;}
/*#about ul li a.question:after{font-family:FontAwesome; content:'\f0da';}
#about ul li ul{padding-top:10px; font-size:.825em;}*/

#notes{clear:left;}
#notes p{padding:20px 10px;}

/*	Footer ------------------------------------------------------------------ */
footer{
	max-width:940px; margin:0 auto 10px; padding:10px; color:#333;
	border-radius:0 0 6px 6px;
	background-image:linear-gradient(to bottom, #f8f8f8 0%, #eaeaea 100%);
}
footer ul.footerLinks{float:left;}
footer ul.footerLinks li{
	display:inline-block; margin-right:8px; width:100px; height:22px;
}
footer ul.footerLinks li a{
	display:block; width:100px; height:22px;
	line-height:22px; font-size:12px; color:#fff; text-decoration:none;
	background:#b0b0b0;
}
footer ul.footerLinks li a:hover{background:#666;}
.shariff-button a.share_text{color:#fff;}

/*	Mobile Safari ( iPad, iPhone and iPod Touch ) --------------------------- */
/*pre{*/
/*	-webkit-text-size-adjust:140%;*/
/*}*/
/*code{*/
/*	-webkit-text-size-adjust:160%;*/
/*}*/
/*#access,*/
/*.entry-meta,*/
/*.entry-utility,*/
/*.navigation,*/
/*.widget-area{*/
/*	position:absolute; top:90px;*/
/*	-webkit-text-size-adjust:120%;*/
/*}*/
/*#site-description{*/
/*	-webkit-text-size-adjust:none;*/
/*}*/

/*	Print Style ------------------------------------------------------------- */
/*@media print{*/
/*	body{*/
/*		background:none !important;*/
/*	}*/
/*	#wrapper{*/
/*		clear:both !important;*/
/*		display:block !important;*/
/*		float:none !important;*/
/*		position:relative !important;*/
/*	}*/
/*	header{*/
/*		border-bottom:2pt solid #000;*/
/*		padding-bottom:18pt;*/
/*	}*/
/*	#site-title,*/
/*	#site-description{*/
/*		float:none;*/
/*		line-height:1.4em;*/
/*		margin:0;*/
/*		padding:0;*/
/*	}*/
/*	#site-title{*/
/*		font-size:13pt;*/
/*	}*/
/*	#access,*/
/*	#branding img,*/
/*	#respond,*/
/*	.comment-edit-link,*/
/*	.edit-link,*/
/*	.navigation,*/
/*	.page-link,*/
/*	.widget-area{*/
/*		display:none !important;*/
/*	}*/
/*	#container,*/
/*	header,*/
/*	footer{*/
/*		margin:0;*/
/*		width:100%;*/
/*	}*/
/*	#content,*/
/*	.one-column{*/
/*		margin:24pt 0 0;*/
/*		width:100%;*/
/*	}*/
/*	main{*/
/*		display:inline;*/
/*	}*/
/*	.home .sticky{*/
/*		border:none;*/
/*	}*/
/*}*/