@font-face{font-family:'FontAwesome';src:url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0');src:url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'),url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'),url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
/*	Global elements ---------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
	margin:0; padding:0; vertical-align:baseline; background:transparent; border:0;}
body{color:#777; font-family: sans-serif; font-weight: 100;}
h1{font-weight:700;}
h2, h3, h4, h5, h6{font-weight:normal;}
p{padding-top:10px;}
ul{padding-bottom:10px; list-style:none;}
a{font-weight:500; text-decoration:none;}
a:link, a:visited{color:#55f;}
a:focus, a:hover, a:active{color:#333;}
/*>Global Classes ----------------------------------------------------------- */
.left{text-align:left;}
.center{text-align:center;}
.right{text-align:right;}
.justify{text-align:justify;}
.small{font-size:.7em;}
.visible{display:block;}
.hidden{display:none;}
/*	Structure ---------------------------------------------------------------- */
#wrapper{margin:0 auto;}
/*		Header ---------------------------------------------------------------- */
header{max-width:960px; margin:0 auto;}
#branding{height:75px; float:left;}
#branding img{width:500px; height:75px;}
/*			social menu -------------------------------------------------------- */
#social{height:75px; float:right;}
#social ul{width:264px; height:54px; margin-top:17px; float:right;}
#social ul li{display:block; float:left; padding:0 14px 14px 0;}
#social ul li:last-child{padding:0 8px 14px 0;}
#social ul li a{
	display:block; width:40px; height:40px;
	color:#fff; text-decoration:none; line-height:40px;
	font-family:FontAwesome; font-size:26px;
	background:#d0d0d0; border-radius:20px; box-shadow:3px 3px 5px #ddd;
}
#social ul li a::before{
	text-shadow:1px 1px 1px #999;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
#social ul li.facebook a::before{content:"\f09a";}
#social ul li.googleplus a::before{content:"\f0d5";}
#social ul li.twitter a::before{content:"\f099";}
#social ul li.github a::before{content:"\f09b";}
#social ul li.info a::before{content:"\f129";}
#social ul li.search a::before{content:"\f002";}
#social ul li.facebook a:hover, #social ul li.facebook a:active,
#social ul li.facebook a:focus{background-color:#4273c8;}
#social ul li.googleplus a:hover, #social ul li.googleplus a:active,
#social ul li.googleplus a:focus{background-color:#d34836;}
#social ul li.twitter a:hover, #social ul li.twitter a:active,
#social ul li.twitter a:focus{background-color:#32bbf5;}
#social ul li.github a:hover, #social ul li.github a:active,
#social ul li.github a:focus{background-color:#4078c0;}
#social ul li.info a:hover,#social ul li.info a:active,
#social ul li.info a:focus{background-color:#0c0;}
#social ul li.search a:hover, #social ul li.search a:active,
#social ul li.search a:focus{background-color:#666;}
/*
#searchDiv{
	position:relative; top:25px; left:685px; width:273px; height:48px;
	background-color:rgba(128,128,128,.5);
	border:1px solid #d0d0d0; border-radius:0 0 0 6px;
}
#searchForm{position:absolute; top:10px; left:10px; }
#searchInput{
	float:left; padding:3px 5px; width:214px;
	font-size:1em; line-height:1.25em;
	background:#fff;
	border:1px solid #d0d0d0; border-right:none; border-radius:6px 0 0 6px;
}
#searchSubmit{
	width:28px; height:28px; font-family:FontAwesome; font-size:16px; color:#55f;
	cursor:pointer; background:#fff;
	border:1px solid #d0d0d0; border-left:none; border-radius:0 6px 6px 0;
}
#searchInput, #searchSubmit{box-shadow:none;}
#searchSubmit:hover, #searchSubmit:active, #searchSubmit:focus{color:#333;}
*/
/*#flags{width:150px; height:75px; float:right;}*/
/*		Main ------------------------------------------------------------------ */
main{max-width:960px; margin:0 auto; background:#f8f8f8;}
/*			featured ----------------------------------------------------------- */
#featured{height:150px; border-bottom:1px solid #d0d0d0;}
#featured h1, #featured h3{color:#e5e5e5;}
#featured h1{padding:60px 0 0 10px; text-shadow:1px 1px 2px #ccc;}
#featured h3{padding:10px 0 10px 10px;}
/*			cw-page-links ------------------------------------------------------ */
.cw-page-links{width:100%; border-bottom:1px solid #d0d0d0;}
.cw-page-links a{
	display:block; line-height:3em; font-size:1.5em; text-shadow:1px 1px #fff;
}
/*			filter & firstLetter ----------------------------------------------- */
/*
#filter{padding:5px 5px 5px 3px; font-size:.8em; border-bottom:1px solid #d0d0d0;}
#filter.stars form{display:inline;}
*/
#letterLinks{padding:10px; background:#f8f8f8; border-bottom:1px solid #d0d0d0;}
#letterLinks a{font-size:.8em;}
#letterLinks a:focus, #letterLinks a:hover, #letterLinks a:active{font-size:1em;}
.letter-section{padding-top:10px;}
.letter-section:hover{background:#f4f4f4;}
.first-letter{padding:10px; font-size:1.3em; font-weight:500;}
/*.firstLetterRow{padding:20px 5px 5px 10px;}*/
/*.firstLetterArrow{margin-left:925px; text-align:right;}*/
/*input[type=checkbox]{margin:0 0 3px 5px; vertical-align:middle;}*/
/*		dataTable ------------------------------------------------------------- */
#dataTable{
	font-size:.8em;
	background-image:linear-gradient(to bottom, #f8f8f8 0%, #fff 100%);
	background-attachment:fixed;
	border-bottom:1px solid #d0d0d0;
}
/*			filter & switch ---------------------------------------------------- */
/*
#filter{background-image:linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);}
#switch{float:left; list-style:none; font-size:.8em; font-weight:500;}
#switch li{float:left; width:480px;}
#switch a{
	display:block; float:left; width:478px; height:1.25em; padding-top:4px;
	background-image:linear-gradient(to top, #e1e1e1 0%, #fff 100%);
	border-right:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0; 
	border-left:1px solid #d0d0d0;
}
#switch a:focus, #switch a:hover, #switch a:active{
	background-image:linear-gradient(to top, #c0c0c0 0%, #fff 100%);
}
#tableSwitch{float:right;}
*/
/*			home --------------------------------------------------------------- */
#featured.home{background:url("/img/featured.jpg") center no-repeat;}
#infoArea{padding:10px 0; font-size:.8em; border-bottom:1px solid #d0d0d0;}
#infoText{max-width:629px; float:left; padding:0 0 0 10px; border-right:1px solid #d0d0d0;}
#infoText p{padding-right:10px;}
#news{max-width:300px; float:right; padding:0 10px; overflow:scroll;}
#news iframe{height:180px;}
#boxContainer{
	padding:10px 0; max-width:960px; clear:both;
	font-size:.8em; border-bottom:1px solid #d0d0d0;
}
.box{padding:0 10px; float:left;}
#boxLeft{max-width:300px;}
#boxMid{max-width:298px; border-left:1px solid #d0d0d0; border-right:1px solid #d0d0d0;}
#boxRight{max-width:300px;}
.box img{width:298px; border:1px solid #d0d0d0;}
/*.imgInfo{width:100%; color:#666; font-size:.563em; float:right;}*/
/*			about -------------------------------------------------------------- */
#featured.about{background:url("/img/featured.jpg") center no-repeat;}
#about ul li{padding:10px 0;}
#about ul li.q{padding:20px 10px; border-bottom:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;}
#about ul li a.question{display:block;}
/*#about ul li a.question:after{font-family:FontAwesome; content:'\f0da';}
#about ul li ul{padding-top:10px; font-size:.825em;}
*/
/*			astronauts --------------------------------------------------------- */
#featured.astronauts{background:url("/img/featured_astronauts.jpg") center no-repeat;}
/*			astronomers -------------------------------------------------------- */
#featured.astronomers{background:url("/img/featured_astronomers.jpg") center no-repeat;}
/*			astronomy ---------------------------------------------------------- */
#featured.astronomy{
	background:url("/img/featured_astronomy.jpg") center no-repeat;
}
.cw-page-links.astronomers:focus,
.cw-page-links.astronomers:hover,
.cw-page-links.astronomers:active{
	background:url("/img/featured_astronomers1.jpg") center no-repeat;
}
.cw-page-links.solsys:focus,
.cw-page-links.solsys:hover,
.cw-page-links.solsys:active{
	background:url("/img/featured_solsys1.jpg") center no-repeat;
}
.cw-page-links.const:focus,
.cw-page-links.const:hover,
.cw-page-links.const:active{
	background:url("/img/featured_constellations1.jpg") center no-repeat;
}
.cw-page-links.stars:focus,
.cw-page-links.stars:hover,
.cw-page-links.stars:active{
	background:url("/img/featured_stars1.jpg") center no-repeat;}
/*			chronicle ---------------------------------------------------------- */
#featured.chronicle{background:url("/img/featured_chronicle.jpg") center no-repeat;}
#timelineHeader{background:url("/img/bg_timelinestart.png") no-repeat transparent;}
.timelineRow{background:url("/img/bg_timeline.png") left no-repeat transparent;}
#timelineFooter{background:url("/img/bg_timelineend.png") no-repeat transparent;}
.timelineRow:focus, .timelineRow:hover, .timelineRow:active{
	font-size:1.1em; background:#fff;
	box-shadow:0px 6px 6px -4px #999, 0px -6px 6px -4px #999;
}
#timelineHeader, #timelineFooter, .timelineRow{
	height:1.25em; padding-top:5px; clear:left; display:block;
}
.timelineDate, .timelinePlace, .timelineEvent{
	float:left; overflow:hidden; white-space:nowrap;
}
.timelineDate{width:112px; padding-left:46px;}
.timelinePlace{width:187px; padding-left:5px;}
.timelineEvent{width:605px; padding-left:5px;}
/*			constellations ----------------------------------------------------- */
#featured.const{background:url("/img/featured_constellations.jpg") center no-repeat;}
#constHeader{
	background-image:linear-gradient(to bottom, #fff 0%, #d2d2ff 100%);
	border-bottom:1px solid #d0d0d0;
}
#constTable th{line-height:1.25em;}
#constTable th, #constTable td{float:left; overflow:hidden; white-space:nowrap;}
.constRow:focus, .constRow:hover, .constRow:active{
	font-size:1.1em; background:#fff;
	box-shadow:0px 6px 6px -4px #999, 0px -6px 6px -4px #999;
}
#constHeader, .constRow{height:1.25em; padding-top:5px; clear:left; display:block;}
th.constName, td.constName{width:172px; padding-left:3px;}
th.constLatin, .constLatin{width:130px;}
th.constShort, td.constShort{width:40px;}
th.constAuthor, .constAuthor{width:75px;}
th.constY, .constY{width:40px;}
th.constSphere, .constSphere{width:50px;}
th.constVisFrom, th.constVisTo, .constVisFrom, .constVisTo{width:45px;}
th.constSqDeg, .constSqDeg{width:65px;}
th.starsOver3Mag, .starsOver3Mag, th.starsOver4Mag, .starsOver4Mag{width:55px;}
th.constBrightStar, .constBrightStar{width:122px; padding-right:3px;}
th.constMagMax, .constMagMax{width:60px;}
/*			galaxies ----------------------------------------------------------- */
#featured.galaxies{background:url("/img/featured_galaxies.jpg") center no-repeat;}
/*			launchpads --------------------------------------------------------- */
#featured.launchpads{background:url("/img/featured_launchpads.jpg") center no-repeat;}
/*			missions ----------------------------------------------------------- */
#featured.missions{background:url("/img/featured_missions.jpg") center no-repeat;}
#missionsHeader{
	background-image:linear-gradient(to bottom, #fff 0%, #d2d2ff 100%);
	border-bottom:1px solid #d0d0d0;
}
#missionsTable th{line-height:1.25em;}
#missionsTable th, #missionsTable td{float:left; overflow:hidden; white-space:nowrap;}
.missionsRow:focus, .missionsRow:hover, .missionsRow:active{
	font-size:1.1em; background:#fff;
	box-shadow:0px 6px 6px -4px #999, 0px -6px 6px -4px #999;
}
#missionsHeader, .missionsRow{height:1.25em; padding-top:5px; clear:left; display:block;}
th.missionLaunch, td.missionLaunch, th.missionEnd, td.missionEnd{width:70px;}
th.missionName, td.missionName{width:214px;}
th.missionCountry, td.missionCountry{width:96px;}
th.missionRocket, td.missionRocket{width:131px;}
th.missionPad, td.missionPad{width:116px;}
th.missionCrew, td.missionCrew{width:47px; padding-right:4px;}
th.missionDest, td.missionDest{width:104px;}
th.missionDuration, td.missionDuration{width:105px; padding-right:3px;}
/*
#missionsTable .infoRow{
	position:absolute; min-width:250px; max-width:496px; display:none;
	margin:3px 0 0 0px; padding:5px;
	text-align:justify; border:1px solid #b3e4ff;
}
*/
/*.missionInfo{float:left; overflow:hidden; white-space:nowrap;}*/
/*			objects--- --------------------------------------------------------- */
#featured.objects{background:url("/img/featured_objects.jpg") center no-repeat;}
.cw-page-links.solsys:focus,
.cw-page-links.solsys:hover,
.cw-page-links.solsys:active{
	background:url("/img/featured_solsys1.jpg") center no-repeat;
}
.cw-page-links.const:focus,
.cw-page-links.const:hover,
.cw-page-links.const:active{
	background:url("/img/featured_constellations1.jpg") center no-repeat;
}
.cw-page-links.stars:focus,
.cw-page-links.stars:hover,
.cw-page-links.stars:active{
	background:url("/img/featured_stars1.jpg") center no-repeat;
}
.cw-page-links.stations:focus,
.cw-page-links.stations:hover,
.cw-page-links.stations:active{
	background:url("/img/featured_stations1.jpg") center no-repeat;
}
/*			observatories ------------------------------------------------------ */
#featured.observatories{background:url("/img/featured_observatories.jpg") center no-repeat;}
/*			people ------------------------------------------------------------- */
#featured.persons{background:url("/img/featured_persons.jpg") center no-repeat;}
.personRow{
	max-width:315px; margin-left:5px; display:inline-block;
	border-radius:6px 6px 0 0;
}
.personRow:focus, .personRow:hover, .personRow:active{
	font-weight:700; background:#bafafa; box-shadow:0px 6px 6px #999;
}
.personInfoBox{
	position:absolute; width:305px; margin:0; padding:3px; font-weight:normal;
	background:#fff;
	border-color:#bafafa; border-width:0 2px 2px 2px;
	border-style:solid; border-radius:0 0 6px 6px;
	box-shadow:0px 6px 6px #999;}
.personItem a{padding:5px 0 5px 5px; display:block;}
.personProfession, .personLife, .personCountry{margin-bottom:10px;}
/*			places ------------------------------------------------------------- */
#featured.places{background:url("/img/featured_places.jpg") center no-repeat;}
#switch{margin:0; float:left; list-style:none; font-size:.8em; font-weight:500;}
#switch li{float:left; width:480px;}
#switch a{display:block; float:left; margin:0; width:478px; height:1.25em; padding-top:4px;}
#switch a{
	border-right:1px solid #d0d0d0; 
	border-bottom:1px solid #d0d0d0; 
	border-left:1px solid #d0d0d0;
}
#tableSwitch{float:right;}
#placesHeader{
	background-image:linear-gradient(to bottom, #fff 0%, #d2d2ff 100%);
	border-bottom:1px solid #d0d0d0;
}
#placesTable th{line-height:1.25em;}
#placesTable th, #placesTable td{float:left; overflow:hidden; white-space:nowrap;}
.placesRow:focus, .placesRow:hover, .placesRow:active{
	font-size:1.1em; background:#fff;
	box-shadow:0px 6px 6px -4px #999, 0px -6px 6px -4px #999;
}
#placesHeader, .placesRow{height:1.25em; padding-top:5px; clear:left; display:block;}
.placeName header, .placeName,
.placeWhere header, .placeWhere,
.placeWho header, .placeWho{float:left; overflow:hidden; white-space:nowrap;}
/*
#map_canvas, #placesTable{margin:0; padding:0;}
#map_canvas{width:958px; height:528px;}
#mapInfoWindow{margin:10px; min-width:350px; min-height:100px; vertical-align:middle;}
#placesHeader, #constHeader, #starsHeader, #missionsHeader{
	font-size:1em; font-weight:bold; color:#666;
}
.placeName header, .placeName{width:347px; padding-left:3px;}
.placeWhere header, .placeWhere{width:270px;}
.placeWho header, .placeWho{width:340px;}
*/
/*			probes ------------------------------------------------------------- */
#featured.probes{background:url("/img/featured_probes.jpg") center no-repeat;}
/*			register ----------------------------------------------------------- */
#featured.register{background:url("/img/featured_register.jpg") center no-repeat;}
.registerRow{
	max-width:315px; margin-left:5px; display:inline-block;
	border-radius:6px 6px 0 0;
}
.registerRow:focus, .registerRow:hover, .registerRow:active{
	font-weight:700; background:#e1e1e1; box-shadow:0px 6px 6px #999;
}
.registerInfoBox{
	position:absolute; width:305px; margin:0; padding:3px; font-weight:normal;
	background:#fff;
	border-color:#e1e1e1; border-width:0 2px 2px 2px;
	border-style:solid; border-radius:0 0 6px 6px;
	box-shadow:0px 6px 6px #999;}
.registerItem a{padding:5px 0 5px 5px; display:block;}
/*			rockets ------------------------------------------------------------ */
#featured.rockets{background:url("/img/featured_rockets.jpg") center no-repeat;}
/*			satellites --------------------------------------------------------- */
#featured.satellites{background:url("/img/featured_satellites.jpg") center no-repeat;}
/*			solsys ------------------------------------------------------------- */
#featured.solsys{background:url("/img/featured_solsys.jpg") center no-repeat;}
.solsysRow{background:#c7e9ff;}
.solsysRow.Stern{background:LemonChiffon;}
.solsysRow.Merkur{background:#eedc82;}
.solsysRow.Venus{background:#cccdd5;}
.solsysRow.Erde{background:LightsteelBlue;}
.solsysRow.Mars{background:SandyBrown;}
.solsysRow.Jupiter{background:#e2d2c3;}
.solsysRow.Saturn{background:Khaki;}
.solsysRow.Uranus{background:#bee3e6;}
.solsysRow.Neptun{background:#90d0f8;}
.solsysInfoBox{
	position:absolute; width:310px; padding:3px; font-weight:normal;
	border-width:0 2px 2px 2px; border-style:solid; border-radius:0 0 6px 6px;
	box-shadow:0px 6px 6px #999;
}
.solsysInfoBox.Sonne, .solsysInfoBox.Planet, .solsysInfoBox.Mond{background:#fff;}
.solsysInfoBox, .solsysInfoBox.Gruppe von Objekten.Sonne{border-color:#c7e9ff;}
.solsysRow.Planet{margin-left:320px;}
.solsysRow.Mond{margin-left:640px;}
.solsysInfoBox.Sonne{border-color:LemonChiffon;}
.solsysInfoBox.Merkur{border-color:#eedc82;}
.solsysInfoBox.Venus{border-color:#cccdd5;}
.solsysInfoBox.Erde{border-color:LightsteelBlue;}
.solsysInfoBox.Mars{border-color:SandyBrown;}
.solsysInfoBox.Jupiter{border-color:#e2d2c3;}
.solsysInfoBox.Saturn{border-color:Khaki;}
.solsysInfoBox.Uranus{border-color:#bee3e6;}
.solsysInfoBox.Neptun{border-color:#90d0f8;}
.solsysItem a{padding:5px; display:block;}
.solsysCategory{margin-bottom:10px;}
.solsysInfoBox th, .solsysInfoBox td{padding-right:5px; min-width:145px}
.solsysInfoBox li{margin-left:20px;}
/*			stations ----------------------------------------------------------- */
#featured.stations{background:url("/img/featured_stations.jpg") center no-repeat;}
/*			spaceflight -------------------------------------------------------- */
#featured.spaceflight{background:url("/img/featured_spaceflight.jpg") center no-repeat;}
.cw-page-links.astronauts:focus, .cw-page-links.astronauts:hover,
.cw-page-links.astronauts:active{
	background:url("/img/featured_astronauts1.jpg") center no-repeat;
}
.cw-page-links.missions:focus, .cw-page-links.missions:hover,
.cw-page-links.missions:active{
	background:url("/img/featured_missions1.jpg") center no-repeat;
}
.cw-page-links.stations:focus, .cw-page-links.stations:hover,
.cw-page-links.stations:active{
	background:url("/img/featured_stations1.jpg") center no-repeat;
}
/*			space-telescopes --------------------------------------------------- */
#featured.spacetel{background:url("/img/featured_spacetel.jpg") center no-repeat;}
/*			stars -------------------------------------------------------------- */
#featured.stars{background:url("/img/featured_stars.jpg") center no-repeat;}
#starsHeader{
	background-image:linear-gradient(to bottom, #fff 0%, #d2d2ff 100%);
	border-bottom:1px solid #d0d0d0;
}
#starsTable th{line-height:1.25em;}
#starsTable th, #starsTable td{float:left; overflow:hidden; white-space:nowrap;}
.starsRow:focus, .starsRow:hover, .starsRow:active{
	box-shadow:0px 6px 6px -4px #999, 0px -6px 6px -4px #999;
}
#starsHeader, .starsRow{height:1.25em; padding-top:5px; clear:left; display:block;}
th.starHistName, td.starHistName{width:155px; padding-left:3px;}
th.starBay, .starBay{width:197px;}
th.starShort, td.starShort{width:50px; padding-right:5px;}
th.starConst, .starConst{width:116px;}
th.starRekt, .starRekt{width:102px;}
th.starDekli, .starDekli{width:96px;}
th.starAppMag, .starAppMag{width:40px;}
th.starSpektr, .starSpektr{width:78px;}
th.starDist, .starDist{width:40px;}
th.starMass, .starMass{width:38px;}
th.starRadius, .starRadius{width:40px;}
.starInfoBox{display:none;}
/*			telescopes --------------------------------------------------------- */
#featured.telescopes{background:url("/img/featured_telescopes.jpg") center no-repeat;}
/*			notes -------------------------------------------------------------- */
#notes{
	clear:left;
	background-image:linear-gradient(to bottom, #fff 0%, #f8f8f8 100%);
	border-bottom:1px solid #d0d0d0;
}
#notes p{padding:20px 10px; font-size:.8em;}
#notes ol{padding:10px 20px;}
/*	Footer ------------------------------------------------------------------- */
footer{
	max-width:940px; margin:0 auto 10px; padding:10px; color:#333;
	background-image:linear-gradient(to bottom, #f8f8f8 0%, #eaeaea 100%);
	border-radius:0 0 6px 6px;
}
footer ul.footerLinks{float:left;}
footer ul.footerLinks li{
	display:inline-block; margin-right:8px; width:100px; height:22px;
}
footer ul.footerLinks li a{
	display:block; width:100px; height:22px;
	line-height:22px; font-size:12px; color:#fff; text-decoration:none;
	background:#b0b0b0;
}
footer ul.footerLinks li a:hover{background:#666;}
.shariff-button a.share_text{color:#fff;}