/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */

/*	Global elements --------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; vertical-align: baseline;
	background: transparent; border: 0;
}
html, body, #app {height: 100%;}
body, html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
	color: #222; font-family: sans-serif; font-weight: 100;
}

h1 {font-weight: 700;}
h2, h3, h4, h5, h6 {font-weight: normal;}

ul {list-style-type: none;}

a {font-weight: 500; text-decoration: none; cursor: pointer;}
a, a:link, a:visited {color: #55f;}
a img, a:link img, a:visited img {}
a:focus, a:hover, a:active {color: #333;}
a:focus img, a:hover img, a:active img {}

/*>Global Classes ----------------------------------------------------------- */

.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}
.justify {text-align: justify;}
.small {font-size: .7em;}
.visible {display: block;}
.hidden {display: none;}
.outline {outline: 1px solid #aaa;}

/*	Structure --------------------------------------------------------------- */

#wrapper {
	margin: 0 auto;
	background: #113;
  -webkit-background-size: auto 100%;
	-moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}
#wrapper {
	background: url(/img/bgWrapper8_sm.jpg) center / cover no-repeat fixed #113;
}

header, main, footer {margin: 0 auto; max-width: 1025px;}

/*		Branding -------------------------------------------------------------- */

#branding {
	position: fixed; top: 0; left: 0;	height: 40px;	z-index: 1;
	background-image: linear-gradient(to right, #fff 50px, #eee);
	border-bottom: 1px solid #fff;
}

img#CosmoWikiLogo {display: none;}
img#CosmoWikiIcon {display: block; margin: 5px; height: 30px;}

#searchArea, #menuToggle {height: 40px;}

#searchForm {margin: 8px 0;}
#search,
#searchSubmit {
	line-height:20px; font-size: 16px;
	background:#fff; box-shadow:none;
	border:1px solid #aaf; border-radius: 5px;
}
#searchSubmit {
	width:30px; padding: 2px; cursor:pointer;
	color:#aaf; font-weight: bold;
}
#searchSubmit:hover,
#searchSubmit:active,
#searchSubmit:focus {color:#333;}

#menuToggle {height: 40px;}

#menuToggleButton {color: #000; background: #fff;}

/*		Header ---------------------------------------------------------------- */

header {margin: 40px auto 0;}

/*			Nav ----------------------------------------------------------------- */

nav {
	margin: 0 auto;
	background: #f8f8f8;
	border-bottom: 1px solid #ddd;}

.pure-menu-link:focus,
.pure-menu-link:hover,
.pure-menu-link:active {background: #fff;}
.pure-menu-children {background: transparent; border-top: 1px solid #ddd;}

nav ul ul li a {background: #f8f8f8; border-bottom: 1px solid #ddd;}
nav ul ul li:last-child a {border-bottom: none; border-radius: 0 0 5px 5px;}

/*		Main ------------------------------------------------------------------ */

main {background: rgba(255,255,255,.8); border-bottom: 1em solid #eee;}

/*			siteTitle ----------------------------------------------------------- */

#siteTitle {
	min-height: 4.5em;
	background: rgba(255,255,255,.5);
	border-bottom: 1px solid #fff;
}

/*#siteTitle.events {background: url("/img/title_chronicle.jpg") center / cover no-repeat;}
#siteTitle.persons {background: url("/img/title_people.jpg") center / cover no-repeat;}
#siteTitle.astronomers {background: url("/img/title_astronomers.jpg") center / cover no-repeat;}
#siteTitle.astronauts {background: url("/img/title_astronauts.jpg") center / cover no-repeat;}
#siteTitle.places {background: url("/img/title_places.jpg") center / cover no-repeat;}
#siteTitle.objects {background: url("/img/title_objects.jpg") center / cover no-repeat;}
#siteTitle.astronomy {background: url("/img/title_astronomy.jpg") center / cover no-repeat;}
#siteTitle.solar-system {background: url("/img/title_solarsystem.jpg") center / cover no-repeat;}
#siteTitle.constellations {background: url("/img/title_constellations.jpg") center / cover no-repeat;}
#siteTitle.stars {background: url("/img/title_stars.jpg") center / cover no-repeat;}
#siteTitle.spaceflight {background: url("/img/title_spaceflight.jpg") center / cover no-repeat;}
#siteTitle.missions {background: url("/img/title_missions.jpg") center / cover no-repeat;}
#siteTitle.spacewalks {background: url("/img/title_spacewalks.jpg") center / cover no-repeat;}
#siteTitle.stations {background: url("/img/title_stations.jpg") center / cover no-repeat;}
#siteTitle.spacetelescopes {background: url("/img/title_spacetelescopes.jpg") center / cover no-repeat;}*/

#siteTitle h1 {padding: .2em 0 .1em; font-size: 1.75em; font-weight: normal;}
#siteTitle h3 {padding: .1em 0;}

/*			todo ---------------------------------------------------------------- */

#todo {text-align: center; background: red;}

/*			summary ------------------------------------------------------------- */

#summary {
	position: relative;
	background: rgba(255, 255, 255,.8);
	border-bottom: 1px solid #fff;
}

#summaryToggleSwitch {
	display: block;
	font-size: 2em; line-height: .75em;
}
#summaryToggleSwitch.expanded {
	text-align: right;
	background: transparent;
}
#summaryToggleSwitch.expanded:after {content: '\00D7';}
#summaryToggleSwitch.collapsed {
	text-align: center;
	background: rgba(255, 255, 255,.8);
}
#summaryToggleSwitch.collapsed:after {content: '\25BE';}

#summaryContainer {
  position: relative; overflow: hidden; height: 100%;
  padding: 0 .25em 0; border-bottom: 1em solid #aaf;
}
#summaryContainer.minimized {height: 2.75em;}
#summaryShade {
  position: absolute; height: 2.75em; width: 100%; left: 0; bottom: 1em;
	background-image: linear-gradient(to bottom, rgba(255,255,255,.8), #fff);
}
.summary-text,
div.summary-img.width-100,
div.summary-img.width-75,
div.summary-img.width-50,
div.summary-img.width-25,
#summary h4,
#summary ul {margin-bottom: 1em;}
#summary h4 {padding-left: .5em; line-height: 1.5em; background: #eee;}

.summary-img {padding: 2px;	border: 1px solid #55f;}
.summary-img:focus,
.summary-img:hover,
.summary-img:active {border: 1px solid #333;}
.summary-img:nth-of-type(odd) {float: right; margin: 0 0 0 .5em;}
.summary-img:nth-of-type(even) {float: left; margin: 0 .5em 0 0;}
.summary-img.float-right {float: right; margin: 0 0 0 .5em;}
.summary-img.float-left {float: left; margin: 0 .5em 0 0;}
.summary-img.width-100 {float: none; margin: auto;}
.summary-img.width-75 {float: none; width: 75%; margin: auto;}
.summary-img.width-50 {float: none; width: 50%; margin: auto;}
.summary-img.width-25 {float: none; width: 50%; margin: auto;}
.summary-img img {display: block; height: 6.5em;}
.summary-img.size-xs img {height: 4.5em;}
.summary-img.size-sm img {height: 5.25em;}
.summary-img.size-lg img {height: 8em;}
.summary-img.size-xl img {height: 10em;}
.summary-img.size-xxl img {height: 12em;}
.summary-img.width-100 img,
.summary-img.width-75 img,
.summary-img.width-50 img,
.summary-img.width-25 img {width: 100%; height: auto;}
.summary-img-text {margin-top: 2px; font-size: .7em;}

.summary-text:nth-of-type(odd) {text-indent: 1em;}
.summary-text:first-of-type::first-letter {font-size: 1.25em; font-weight: 900;}
/*.summary-text em {font-style: normal; background: #eee;}*/

.summary-list {list-style: disc inside;}
.summary-list li {margin: .5em 0;}

/*			controlArea -------------------------------------------------------- */

#controlArea {background: #eee;}

#controllers, #letterIndex {border-bottom: 1px solid #fff;}
#sort, #filter {
	display: inline-block;
	font-size: .9em; line-height: 2em;
}
#filter {float: right;}

#sortArea, #filterArea {display: none;}
#controlArea a {display: inline; margin: .2em;}

#sort:hover a.toggle-sort,
#filter:hover a.toggle-filter {display: none;}
#sort:hover #sortArea,
#filter:hover #filterArea {display: block;}

#controlArea label, #controlArea form {display: inline; margin: 0 .1em;}
#filterArea form {text-align: right;}
#sort select, #filter select {margin-left: .1em;}

#letterIndex li {display: inline-block; padding: .2em 0; margin-right: .2em;}
#letterIndex a {display: inline-block; margin: 0 .2em;}

/*#letterIndex a:hover {font-weight: bold;}*/
/*#letterIndex a:after {
	margin-left: .2em; content: attr(title); height: .2em;
  font-weight:bold; color:transparent; overflow:hidden; visibility:hidden;
}*/

/*			switch -------------------------------------------------------------- */
/*
#switch {float: left; font-size: .8em; font-weight: 500;}
#switch li {float: left; width: 480px;}
#switch a {
	display: block; float: left; width: 478px; height: 1.25em; padding-top: 4px;
	background-image: linear-gradient(#fff, #e1e1e1);
	border-width: 0 1px 1px 1px; border-style: solid; border-color: #d0d0d0;
}
#switch a:focus, #switch a:hover, #switch a:active {
	background-image: linear-gradient(#fff, #c0c0c0);
}
#tableSwitch {float: right;}
*/

/*		pageSubMenu ----------------------------------------------------------- */

#pageSubMenu a {
	display: block; padding: 2em;
	font-size: 1.5em;
	background: rgba(255,255,255,.8);
	border-bottom: 1px solid #fff;
}
#pageSubMenu a:focus,
#pageSubMenu a:hover,
#pageSubMenu a:active {color: #fff; background: rgba(255,255,255,.3);}

#pageSubMenu li.astronauts {
	background: url("/img/title_astronauts.jpg") center / cover no-repeat;
}
#pageSubMenu li.constellations {
	background: url("/img/title_constellations.jpg") center / cover no-repeat;
}
#pageSubMenu li.missions {
	background: url("/img/title_missions.jpg") center / cover no-repeat;
}
#pageSubMenu li.scientists {
	background: url("/img/title_astronomers.jpg") center / cover no-repeat;
}
#pageSubMenu li.solarsystem {
	background: url("/img/title_solarsystem.jpg") center / cover no-repeat;
}
#pageSubMenu li.spacestations {
	background: url("/img/title_stations.jpg") center / cover no-repeat;
}
#pageSubMenu li.spacetelescopes {
	background: url("/img/title_spacetelescopes.jpg") center / cover no-repeat;
}
#pageSubMenu li.spacewalks {
	background: url("/img/title_spacewalks.jpg") center / cover no-repeat;
}
#pageSubMenu li.stars {
	background: url("/img/title_stars.jpg") center / cover no-repeat;
}

/*		dataArea -------------------------------------------------------------- */

#dataArea {font-size: .8em;	background: rgba(255,255,255,.5);}

.letter-section-header {
	background: rgba(255,255,255,.5);
	border-bottom: 1px solid #fff;
}
.first-letter, .scroll-up-link {display: inline-block;}
.first-letter p, .scroll-up-link p {
	margin: .2em; font-size: 1.3em; font-weight: 900;
}
#scrollUpArrow {display: block; font-weight: 900;}

.data-row {display: inline-block;	border-bottom: 1px solid #fff;}

.data-row:focus,
.data-row:hover,
.data-row:active {background: rgba(255,255,255,.5);}


/*			notes --------------------------------------------------------------- */

#notes {clear: left; font-size: .8em;	background: #f8f8f8;}

#defaultNotes,
#constellationNotes,
#starNotes {padding: .5em 0; border-bottom: 1px solid #ddd;}

#constellationNotes p,
#starNotes p {padding: .2em .5em;}


/*	Footer ------------------------------------------------------------------ */

footer {background: #f8f8f8; border-top: 1em solid #aaf;}
#footerContainer {
	padding: 0;
	border-top: 1px solid #fff;	border-bottom: 1px solid #ddd;
}

.footer-part ul {
	margin: .25em 0;
	background: #fff;
	border-width: 1px 0; border-style: solid; border-color: #ddd;
}

.footer-part li {line-height: 1.5em;}
.footer-part li a {display: block;}
.footer-part li h4 {
	background: #eee;
	border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;
}
.footer-part ul li:first-child h4 {border-top: none;}
.footer-part li a:hover {background: #eee;}

/*.shariff-button a.share_text {color: #fff;}*/

#footerFoot {line-height: 1em; background: #eee;}
#footerFoot p {font-size: .6em;}

/* properties for breakpoints ----------------------------------------------- */
/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only screen and (min-width: 35.5em) {
	#summaryContainer {padding: 0 .5em;}
	#summaryToggleSwitch.expanded {margin-right: .25em;}
	.footer-part ul {margin: .5em .25em; border-width: 1px; border-radius: 5px;}
	.footer-part li h4 {border-radius: 0;}
	.footer-part ul li:last-child {border-radius: 0 0 5px 5px;}
	.footer-part ul li:first-child h4 {border-radius: 5px 5px 0 0;}
}

@media only screen and (min-width: 48em) {
	#branding {
		background-image: linear-gradient(to right, #fff 180px, #eee);
	}
	img#CosmoWikiLogo {display: block; margin: 5px; height: 30px;}
	img#CosmoWikiIcon {display: none;}

	#menuToggleButton {display: none;}
	#summaryContainer {padding: 0 1em;}
	#summaryToggleSwitch.expanded {margin-right: .5em;}
	#sortArea, #filterArea, #sort form, #filter form {display: inline;}
	#sort a, #filter a {display: none;}
	.footer-part ul {min-height: 16em;}
	.footer-part:first-child ul {margin-left: .5em;}
	.footer-part:last-child ul {margin-right: .5em;}

}

@media only screen and (min-width: 64em) {
	header, main, footer {max-width: 1000px;}
	main {margin-bottom: 1em; border-radius: 0 0 5px 5px;}
	nav {margin-top: 1em; border-radius: 5px 5px 0 0;}
	footer {margin-bottom: 1em; border-radius: 5px 5px 5px 5px;}

	.summary-img {border-radius: 5px;}
	.summary-img:hover {border-radius: 5px;}
	.summary-img img {border-radius: 3px;}

  #controlArea {min-height: 1.5em;}

	.scroll-up-link {text-align: center;}
}

@media only screen and (min-width: 1025px) {
	header, main, footer {max-width: 1000px;}
	main {margin-bottom: 1em; border-radius: 0 0 5px 5px;}
	nav {margin-top: 1em; border-radius: 5px 5px 0 0;}
	footer {border-radius: 5px 5px 5px 5px;}
}

@media only screen and (min-width: 1200px) {
	#wrapper {
		background: url(/img/bgWrapper8_md.jpg) center / cover no-repeat fixed #113;
  }
}

@media only screen and (min-width: 2500px) {
	#wrapper {
		background: url(/img/bgWrapper8_lg.jpg) center / cover no-repeat fixed #113;
  }
}

@media only screen and (min-width: 3800px) {
	#wrapper {
		background: url(/img/bgWrapper8_xl.jpg) center / cover no-repeat fixed #113;
  }
}

/* social media ::before content and colors ----------------------------------*/
/*
facebook a::before {content: "\f09a";}
googleplus a::before {content: "\f0d5";}
twitter a::before {content: "\f099";}
github a::before {content: "\f09b";}
facebook a:focus,
facebook a:hover,
facebook a:active {background-color: #4273c8;}
googleplus a:focus,
googleplus a:hover,
googleplus a:active {background-color: #d34836;}
twitter a:focus,
twitter a:hover,
twitter a:active {background-color: #32bbf5;}
github a:focus,
github a:hover,
github a:active {background-color: #4078c0;}
*/
