#wrapper.home {min-height: 100%; position: relative;}

#homeNav ul.sub-menu {display: none;}
#homeNav ul.main-menu li:hover>ul.sub-menu {display: block;}
#homeNav a {
  display: block; padding: 1em;
	font-size: 1.5em;
	background: rgba(255,255,255,.8);
  border-bottom: 1px solid #fff;
}
#homeNav a:hover {background: rgba(255,255,255,.9);}
#homeNav ul.main-menu li:last-child a {border-bottom: none;}
#homeNav ul.main-menu li:last-child:hover a {border-bottom: 1px solid #fff;}

/*    sub-menu ---------------------------------------------------------------*/

#homeNav ul.sub-menu li {width: 100%;}
#homeNav ul.sub-menu li a, #homeNav.sub-menu li:last-child a {
  padding: .5em;
  font-size: 1.25em;
  border-bottom: 1px solid #fff;
}
#homeNav ul.sub-menu li:last-child a {border-bottom: 1px solid #fff;}
#homeNav ul.main-menu li:last-child li:last-child a {border-bottom: none;}

/*  homeFooter ---------------------------------------------------------------*/
#homeFooter {
  position: absolute; bottom: 0; left: 0; height: 45px;
  font-size: .8em; line-height: 40px; letter-spacing: normal;
	background-image: linear-gradient(to right, #fff 180px, rgba(153,153,255,.2));
	border-top: 1px solid #fff;
}

/*  media queries for the home nav -------------------------------------------*/
/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */

@media all and (min-width: 35.5em) {
  main.home {padding: 0;}
  #homeNav {display: block;}
  #homeNav li {width: 100%; float: left;}
  #homeNav a {border-bottom: 1px solid #fff;}
  #homeNav ul.sub-menu {display: none;}
  #homeNav ul.main-menu li:hover>ul.sub-menu {display: block;}
}

@media all and (min-width: 48em) {
  main.home {padding-bottom: 46px;}
  #homeNav {width: 50%; margin: auto;}
  #homeNav a {padding: 1em .5em;}
}

@media all and (min-width: 64em) {
  main.home {max-width: inherit; width: 100%;}
  #homeNav {width: 100%;}
  #homeNav li {width: 16.666%;}
  #homeNav a {
    padding: 2em .5em;
    border-right: 1px solid #fff; border-bottom: none;
  }
  #homeNav ul.main-menu li:last-child a {border-right: none;}
  #homeNav ul.sub-menu li a {
    border-top: 1px solid #fff; border-right: none; border-bottom: none;
  }
  #homeNav ul.sub-menu li:last-child a {
    border-bottom: none; border-radius: 0 0 5px 5px;
  }
  #homeNav ul.main-menu li:last-child:hover a {border-bottom: none;}
}

/*  home nav a:hover background images ---------------------------------------*/

/*#homeNav li#Chronik a:hover {
  background: url("/img/featured_chronicle1.jpg") center / cover no-repeat;
}
#homeNav li#Personen a:hover {
  background: url("/img/featured_people1.jpg") center / cover no-repeat;
}
#homeNav li#Astronomen a:hover {
  background: url("/img/featured_astronomers1.jpg") center / cover no-repeat;
}
#homeNav li#Raumfahrer a:hover {
  background: url("/img/featured_astronauts1.jpg") center / cover no-repeat;
}
#homeNav li#Orte a:hover {
  background: url("/img/featured_places1.jpg") center / cover no-repeat;
}
#homeNav li#Objekte a:hover {
  background: url("/img/featured_objects1.jpg") center / cover no-repeat;
}
#homeNav li#Sonnensystem a:hover {
  background: url("/img/featured_solsys1.jpg") center / cover no-repeat;
}
#homeNav li#Sternbilder a:hover {
  background: url("/img/featured_constellations1.jpg") center / cover no-repeat;
}
#homeNav li#Sterne a:hover {
  background: url("/img/featured_stars1.jpg") center / cover no-repeat;
}
#homeNav li#Raumstationen a:hover {
  background: url("/img/featured_stations1.jpg") center / cover no-repeat;
}
#homeNav li#Astronomie a:hover {
  background: url("/img/featured_astronomy1.jpg") center / cover no-repeat;
}
#homeNav li#Astronomen a:hover {
  background: url("/img/featured_astronomers1.jpg") center / cover no-repeat;
}
#homeNav li#Sonnensystem a:hover {
  background: url("/img/featured_solsys1.jpg") center / cover no-repeat;
}
#homeNav li#Sternbilder a:hover {
  background: url("/img/featured_constellations1.jpg") center / cover no-repeat;
}
#homeNav li#Sterne a:hover {
  background: url("/img/featured_stars1.jpg") center / cover no-repeat;
}
#homeNav li#Raumfahrt a:hover {
  background: url("/img/featured_spaceflight1.jpg") center / cover no-repeat;
}
#homeNav li#Raumfahrer a:hover {
  background: url("/img/featured_astronauts1.jpg") center / cover no-repeat;
}
#homeNav li#Missionen a:hover {
  background: url("/img/featured_missions1.jpg") center / cover no-repeat;
}
#homeNav li#Raumstationen a:hover {
  background: url("/img/featured_stations1.jpg") center / cover no-repeat;
}*/

/*#infoArea {
	max-width: 960px; margin: 0 auto; padding: 10px 0;
	border-bottom: 1px solid #d0d0d0;
	}

#infoText {
	max-width: 1000px; background: rgba(255,255,255,0.7);
	outline: 1px solid white;
	}

#infoText h2 {margin: 10px;}
#infoText p {margin: 10px; padding-right: 10px;}*/
/*#news {padding: 0 10px; overflow: scroll;}*/
/*#news iframe {height: 180px;}*/

/*#boxChronicle {background: url("/img/box_chronicle.jpg") center top / contain no-repeat;}
#boxPeople {background: url("/img/box_people.jpg") center top / contain no-repeat;}
#boxPlaces {background: url("/img/box_places.jpg") center top / contain no-repeat;}
#boxObjects {background: url("/img/box_objects.jpg") center top / contain no-repeat;}
.box h3 {margin-top: 140px;}*/

/*#boxLeft {max-width: 300px;}
#boxMid {max-width: 298px; border-left: 1px solid #d0d0d0; border-right: 1px solid #d0d0d0;}
#boxRight {max-width: 300px;}
.box img {width: 298px; border: 1px solid #d0d0d0;}*/

/*.cw-page-links.chronicle:focus,
.cw-page-links.chronicle:hover,
.cw-page-links.chronicle:active {
	background: url("/img/featured_chronicle1.jpg") center no-repeat;
}
.cw-page-links.people:focus,
.cw-page-links.people:hover,
.cw-page-links.people:active {
	background: url("/img/featured_people1.jpg") center no-repeat;
}
.cw-page-links.places:focus,
.cw-page-links.places:hover,
.cw-page-links.places:active {
	background: url("/img/featured_places1.jpg") center no-repeat;
}
.cw-page-links.solsys:focus,
.cw-page-links.solsys:hover,
.cw-page-links.solsys:active {
	background: url("/img/featured_solsys1.jpg") center no-repeat;
}
.cw-page-links.const:focus,
.cw-page-links.const:hover,
.cw-page-links.const:active {
	background: url("/img/featured_constellations1.jpg") center no-repeat;
}
.cw-page-links.stars:focus,
.cw-page-links.stars:hover,
.cw-page-links.stars:active {
	background: url("/img/featured_stars1.jpg") center no-repeat;
}
.cw-page-links.stations:focus,
.cw-page-links.stations:hover,
.cw-page-links.stations:active {
	background: url("/img/featured_stations1.jpg") center no-repeat;
}
.cw-page-links.missions:focus,
.cw-page-links.missions:hover,
.cw-page-links.missions:active {
	background: url("/img/featured_missions1.jpg") center no-repeat;
}*/
