#featured.missions{background:url("/img/featured_missions.jpg") center no-repeat;}
#missionsHeader{
	background-image:linear-gradient(to bottom, #fff 0%, #d2d2ff 100%);
	border-bottom:1px solid #d0d0d0;
}
#missionsTable th{line-height:1.25em;}
#missionsTable th, #missionsTable td{float:left; overflow:hidden; white-space:nowrap;}
.missionsRow:focus, .missionsRow:hover, .missionsRow:active{
	font-size:1.1em; background:#fff;
	box-shadow:0px 6px 6px -4px #999, 0px -6px 6px -4px #999;
}
#missionsHeader, .missionsRow{height:1.25em; padding-top:5px; clear:left; display:block;}
th.missionLaunch, td.missionLaunch, th.missionEnd, td.missionEnd{width:70px;}
th.missionName, td.missionName{width:214px;}
th.missionCountry, td.missionCountry{width:96px;}
th.missionRocket, td.missionRocket{width:131px;}
th.missionPad, td.missionPad{width:116px;}
th.missionCrew, td.missionCrew{width:47px; padding-right:4px;}
th.missionDest, td.missionDest{width:104px;}
th.missionDuration, td.missionDuration{width:105px; padding-right:3px;}
/*
#missionsTable .infoRow{
	position:absolute; min-width:250px; max-width:496px; display:none;
	margin:3px 0 0 0px; padding:5px;
	text-align:justify; border:1px solid #b3e4ff;
}
*/
/*.missionInfo{float:left; overflow:hidden; white-space:nowrap;}*/