#pageSubMenu li.missions,
#siteTitle.missions {
	background: url('/img/title_missions.jpg') center / cover no-repeat;
}

.mission-row div {font-size: .9rem;}

.mission-operator {font-size: .65rem;}
.mission-launch,
.mission-end {display: inline;}
.mission-duration {font-size: .65rem;}

/*	breakpoints ------------------------------------------------------------- */
/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 35.5em) {
	.mission-row {display: flex; padding: .25em 0; align-items: center;}
}
@media only all and (min-width: 48em) {
	.mission-data {display: flex; align-items: center;}
	.mission-launch,
	.mission-end,
	.mission-duration {display: inline;}
	.mission-duration,
	.mission-destination {margin-left: 1em;}
}
@media only all and (min-width: 64em) {
}
