.person-row {padding: .2em 0;}

.person-name div {display: block; font-size: 1.25em; text-align: center;}
.person-data1 div,
.person-data2 div {display: inline-block; font-size: 1.125em;}

/* only for visualisation ----------------------------------------------------*/
/*.person-name, .person-data1, .person-data2 {outline: 1px solid blue;}*/
/* ---------------------------------------------------------------------------*/

/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 48em) {
	.person-data1 div,
	.person-data2 div {display: inline-block;}
}
@media only all and (min-width: 64em) {
	.person-name div {font-size: 1.125em; line-height: 1.75em; text-align: left;}
	.person-name p {margin-left: .2em;}
	.person-data1 div {line-height: 1.75em; text-align: left;}
	.person-data2 div {line-height: 1.75em;}
	.person-born p {margin-left: .5em;}
}
