.shariff {
	display: none; position: relative; top: 0; right: 0;
	background: rgba(240, 240, 240, .95);
	border: none;
}
.shariff ul {text-align: center;}
.shariff li {display: block;}
li.shariff-button {border-radius: 0;}
