#pageSubMenu li.spacetelescopes,
#siteTitle.spacetelescopes {
	background: url('/img/title_spacetelescopes.jpg') center / cover no-repeat;
}

.spacetelescope-row {padding: .5em 0;}

.spacetelescope-img {overflow: hidden;}
.spacetelescope-img img {height: 100px;}
.spacetelescope-img small {display: block; font-size: .8em;}
.spacetelescope-img small:last-child {margin-left: .5em;}
p.spacetelescope-name {margin: .5em 0 0; font-size: 1.25em;}
p.spacetelescope-alternative-name {margin: 0 0 .5em; font-size: 1em;}
p.spacetelescope-data {margin: .25em 0 0; font-size: 1em;}

/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 35.5em) {
  p.spacetelescope-name {margin: .25em 0 0; font-size: 1.25em;}
}
@media only all and (min-width: 48em) {
  .spacetelescope-name {margin-top: 3em;}
  .spacetelescope-data {margin-top: 1.5em;}
}
