/*#featured.spaceflight {background: url("/img/featured_spaceflight.jpg") center top / contain no-repeat;}*/
.subItem.astronauts:focus,
.subItem.astronauts:hover,
.subItem.astronauts:active {
	background: url("/img/featured_astronauts1.jpg") center / cover no-repeat;
}
.subItem.missions:focus,
.subItem.missions:hover,
.subItem.missions:active {
	background: url("/img/featured_missions1.jpg") center / cover no-repeat;
}
.subItem.stations:focus,
.subItem.stations:hover,
.subItem.stations:active {
w	background: url("/img/featured_stations1.jpg") center / cover no-repeat;
}