.spacetelescope-row {padding: .5em 0;}

.spacetelescopeImg {min-heiht: 120px;}
.spacetelescopeImg img {display: block; height: 120px; margin: 0 auto;}
.spacetelescopeImg small {display: block; font-size: .8em;}
.spacetelescopeInfo a {font-size: 1.25em; line-height: 2em;}

/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 35.5em) {
  .spacetelescopeImg img {margin: 0 auto;}
  .spacetelescopeInfo a {font-size: 1.5em; line-height: 90px;}
}
@media only all and (min-width: 48em) {
.spacetelescopeImg small {display: inline;}
.spacetelescopeImg small:last-child {margin-left: .5em;}
}
