#featured.stars{background:url("/img/featured_stars.jpg") left top no-repeat;}
.starsHeader{
	background-image:linear-gradient(to bottom, #fff 0%, #d2d2ff 100%);
	border-bottom:1px solid #d0d0d0;
}
.starsTable tr{height:2em; clear:left; display:block;}
.starsTable tr:nth-child(even){background:rgba(192,192,192,.1);}
.starsTable th, .starsTable td{
	float:left; line-height:2em; overflow:hidden; white-space:nowrap;
}
.starsRow:focus, .starsRow:hover, .starsRow:active{
	box-shadow:0px 6px 6px -4px #999, 0px -6px 6px -4px #999;
}
.starName{width:155px; padding-left:3px;}
.starBay{width:197px;}
.starShort{width:50px; padding-right:5px;}
.starConst{width:116px;}
.starRekt{width:102px;}
.starDekli{width:96px;}
.starAppMag{width:40px;}
.starSpectrClass{width:78px;}
.starDist{width:40px;}
.starMass{width:38px;}
.starRadius{width:40px;}
.starInfoBox{display:none;}