#featured.stars{background:url("/img/featured_stars.jpg") center no-repeat;}
#starsHeader{
	background-image:linear-gradient(to bottom, #fff 0%, #d2d2ff 100%);
	border-bottom:1px solid #d0d0d0;
}
#starsTable th{line-height:1.25em;}
#starsTable th, #starsTable td{float:left; overflow:hidden; white-space:nowrap;}
.starsRow:focus, .starsRow:hover, .starsRow:active{
	box-shadow:0px 6px 6px -4px #999, 0px -6px 6px -4px #999;
}
#starsHeader, .starsRow{height:1.25em; padding-top:5px; clear:left; display:block;}
th.starName, td.starName{width:155px; padding-left:3px;}
th.starBay, td.starBay{width:197px;}
th.starShort, td.starShort{width:50px; padding-right:5px;}
th.starConst, td.starConst{width:116px;}
th.starRekt, td.starRekt{width:102px;}
th.starDekli, td.starDekli{width:96px;}
th.starAppMag, td.starAppMag{width:40px;}
th.starSpectrClass, td.starSpectrClass{width:78px;}
th.starDist, td.starDist{width:40px;}
th.starMass, td.starMass{width:38px;}
th.starRadius, td.starRadius{width:40px;}
.starInfoBox{display:none;}