#vcardBackground {
	position: fixed; top: 0; left: 0; width: 100%; height: 100%;
	background: rgba(0,0,0,.8);
}

#vcardOverlay {
  position: fixed; top: 0; left: 0; margin: 0; width: 100%; height: 100%;
}

#vcard {margin: 10% auto; max-width: 1000px; height: auto !important;}

#vcardContainer {border: 2px solid #aaf; border-radius: 5px; background: #fff;}

#vcardClose {display: block; float: right;	margin: -.2em .25em; font-size: 2em;}
#vcardClose:after {content: '\00D7';}

#vcardHeader, #vcardContent, #vcardFooter {padding: .5em;}

#vcardHeader {font-size: .75em; border-bottom: 1px solid #aaf;}

#vcardContent {display: -webkit-flex; display: flex; padding: .5em;}
#vcardContentLeft {padding-right: .5em;}

#vcardItemImg img {
	float: left; margin: 0 .5em .5em 0; min-height: 150px;
	border: 2px solid #a0a0a0;
}

#vcardItemName h3 {background: #eee;}

#vcardItemLong {clear: both; max-height: 20em; overflow: scroll;}
#coordinates {display: none;}
#vcardItemLong p {margin: .5em 0;}
#vcard p {font-size: .9em;}

#vcardContentRight {padding-left: .5em;	border-left: 1px solid #aaf;}
.vcardItemRelatedCat h4 {background: #eee;}

.vcardItemRelatedList {list-style: none; padding: .5em 0 .5em;}
.vcardItemRelatedList:last-child {padding-bottom: 10px;}
.vcardItemRelatedList li {padding: .2em 0;}

#vcardFooter {font-size: .75em; border-top: 1px solid #aaf;}
